/**
 * Typography
 * Font faces, headings, text styles, and text formatting
 */

/* ========================================
   FONT FACE DECLARATIONS
======================================== */
@font-face {
    font-family: 'Novacento Sans Wide';
    font-display: swap;
    src: url("../../../fonts/Novecentosanswide-UltraLight-webfont.eot");
    src: url("../../../fonts/Novecentosanswide-UltraLight-webfont.eot?#iefix") format("embedded-opentype"), 
         url("../../../fonts/Novecentosanswide-UltraLight-webfont.woff2") format("woff2"), 
         url("../../../fonts/Novecentosanswide-UltraLight-webfont.woff") format("woff"), 
         url("../../../fonts/Novecentosanswide-UltraLight-webfont.ttf") format("truetype"), 
         url("../../../fonts/Novecentosanswide-UltraLight-webfont.svg#novecento_sans_wideultralight") format("svg");
    font-style: normal;
    font-weight: 200;
}

@font-face {
    font-family: 'Work Sans';
    font-display: swap;
    font-style: normal;
    font-weight: 300;
    src: url("../../../fonts/Work_Sans_300.eot?#iefix") format("embedded-opentype"), 
         url("../../../fonts/Work_Sans_300.woff") format("woff"), 
         url("../../../fonts/Work_Sans_300.woff2") format("woff2"), 
         url("../../../fonts/Work_Sans_300.svg#WorkSans") format("svg"), 
         url("../../../fonts/Work_Sans_300.ttf") format("truetype");
}

@font-face {
    font-family: 'Work Sans';
    font-display: swap;
    font-style: normal;
    font-weight: 500;
    src: url("../../../fonts/Work_Sans_500.eot?#iefix") format("embedded-opentype"), 
         url("../../../fonts/Work_Sans_500.woff") format("woff"), 
         url("../../../fonts/Work_Sans_500.woff2") format("woff2"), 
         url("../../../fonts/Work_Sans_500.svg#WorkSans") format("svg"), 
         url("../../../fonts/Work_Sans_500.ttf") format("truetype");
}

@font-face {
    font-family: "RedHatDisplay";
    font-display: swap;
    src: url(../../../fonts/RedHatDisplay-Regular.eot);
    src: url(../../../fonts/RedHatDisplay-Regular.eot?#iefix) format("embedded-opentype"), 
         url(../../../fonts/RedHatDisplay-Regular.woff) format("woff");
    font-style: normal;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: "RedHatDisplay";
    font-display: swap;
    src: url(../../../fonts/RedHatDisplay-Medium.eot);
    src: url(../../../fonts/RedHatDisplay-Medium.eot?#iefix) format("embedded-opentype"), 
         url(../../../fonts/RedHatDisplay-Medium.woff) format("woff");
    font-style: normal;
    font-weight: 400;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: "RedHatDisplay";
    font-display: swap;
    src: url(../../../fonts/RedHatDisplay-Bold.eot);
    src: url(../../../fonts/RedHatDisplay-Bold.eot?#iefix) format("embedded-opentype"), 
         url(../../../fonts/RedHatDisplay-Bold.woff) format("woff");
    font-style: normal;
    font-weight: 700;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: "RedHatText";
    font-display: swap;
    src: url(../../../fonts/RedHatText-Regular.eot);
    src: url(../../../fonts/RedHatText-Regular.eot?#iefix) format("embedded-opentype"), 
         url(../../../fonts/RedHatText-Regular.woff) format("woff");
    font-style: normal;
    font-weight: 400;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: "RedHatText";
    font-display: swap;
    src: url(../../../fonts/RedHatText-Regular.eot);
    src: url(../../../fonts/RedHatText-Regular.eot?#iefix) format("embedded-opentype"), 
         url(../../../fonts/RedHatText-Regular.woff) format("woff");
    font-style: normal;
    font-weight: 500;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: "RedHatText";
    font-display: swap;
    src: url(../../../fonts/RedHatText-Medium.eot);
    src: url(../../../fonts/RedHatText-Medium.eot?#iefix) format("embedded-opentype"), 
         url(../../../fonts/RedHatText-Medium.woff) format("woff");
    font-style: normal;
    font-weight: 700;
    text-rendering: optimizeLegibility;
}

/* ========================================
   BODY TEXT
======================================== */
body {
    margin: 0;
    color: var(--MAIN-TEXT-color) !important;
    background: var(--MAIN-BG-color);
    font-size: 16px !important;
    font-family: "RedHatText", "Work Sans", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
    font-weight: 300;
    line-height: 1.6;
}

p {
    margin: 1rem 0;
    text-align: justify;
}

p.bio {
    margin: 0 0 0 0;
}

p.related {
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0;
}

p.logoarea {
    margin: 0 0 0 0;
}

/* ========================================
   HEADINGS
======================================== */
h1 {
    font-family: "Novacento Sans Wide", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
    text-align: center;
    color: var(--H1-color);
    font-weight: 200;
}

h1.recentlist {
    text-align: left !important;
    text-transform: none;
}

h1.article {
    font-size: 3.75rem;
    font-family: sans-serif;
    font-weight: bolder;
}

h1.authors {
    font-size: 2.5rem;
    line-height: 110% !important;
    margin: .5rem 0 1.5rem 0;
    font-weight: 400;
    font-family: RedHatText, "Work Sans", Helvetica, Tahoma, Geneva, Arial, sans-serif;
    text-rendering: optimizeLegibility;
    letter-spacing: -1px;
    color: var(--MAIN-TITLES-TEXT-color) !important;
    text-align: left;
    text-transform: none !important;
}

h1.bio {
    font-size: 2.0rem;
    line-height: 110% !important;
    margin: .75rem 0 0 0;
    font-weight: 200 !important;
    font-size: 2.5rem !important;
    font-family: RedHatText, "Work Sans", Helvetica, Tahoma, Geneva, Arial, sans-serif;
    text-rendering: optimizeLegibility;
    letter-spacing: -1px;
    color: var(--MAIN-TITLES-TEXT-color) !important;
    text-align: left;
    text-transform: none !important;
}

h1.blog-title {
    font-family: sans-serif !important;
    font-weight: 500 !important;
}

body #chapter h1 {
    font-size: 3.5rem;
}

h2, h3, h4, h5, h6 {
    font-family: "RedHatText", "Work Sans", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
    text-rendering: optimizeLegibility;
    font-style: normal;
    background-image: linear-gradient(to bottom right,var(--tw-gradient-stops));
    --tw-gradient-from: rgb(80 122 165 /1);
    --tw-gradient-to: rgb(var(--color-alpha)/0);
    --tw-gradient-stops: var(--tw-gradient-from),var(--tw-gradient-to);
    --tw-gradient-to: rgb(163 208 245 /1);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: 400;
    line-height: 1.1;
    letter-spacing: -1px;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    font-weight: inherit;
}

h2 {
    font-size: 2.5rem;
    line-height: 110% !important;
    margin: 2.5rem 0 1.5rem 0;
}

h2.recentlist {
    text-align: left !important;
    margin-top: 1px;
}

h2.recentlist-with-image {
    font-size: 2.1rem;
}

h3 {
    font-size: 2rem;
    line-height: 110% !important;
    margin: 3rem 0 1rem 0;
}

h4 {
    font-size: 1.5rem;
    line-height: 110% !important;
    margin: 2rem 0 0.75rem 0;
}

h5 {
    font-size: 1rem;
    line-height: 110% !important;
    margin: 1rem 0 0.2rem 0;
}

h6 {
    font-size: 0.5rem;
    line-height: 110% !important;
    margin: 0.5rem 0 0.2rem 0;
}

h2:hover .anchor, h3:hover .anchor, h4:hover .anchor, h5:hover .anchor, h6:hover .anchor {
    visibility:visible;
}

figcaption h4 {
    font-weight: 300 !important;
    opacity: .85;
    font-size: 1em;
    text-align: center;
    margin-top: -1.5em;
}

.post-header {
    font-weight: bolder;
    line-height: 1;
}

.gradient-header {
    font-style: normal;
    background-image: linear-gradient(to bottom right,var(--tw-gradient-stops));
    --tw-gradient-from: rgb(80 122 165 /1);
    --tw-gradient-to: rgb(var(--color-alpha)/0);
    --tw-gradient-stops: var(--tw-gradient-from),var(--tw-gradient-to);
    --tw-gradient-to: rgb(163 208 245 /1);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

/* ========================================
   LINKS
======================================== */
a {
    color: var(--MAIN-LINK-color);
    background: transparent;
    text-decoration: none;
}

a:active,
a:hover {
    outline: 0;
}

a:hover {
    color: darken(var(--MAIN-LINK-HOVER-color), 10%);
}

strong>a {
    color: var(--MAIN-STRONG-LINK-color);
}

.anchor {
    color: var(--MAIN-ANCHOR-color);
    font-size: 0.5em;
    cursor:pointer;
    margin-left: 0.5em;
    position: absolute;
    margin-top:0.1em;
}

.anchor:hover {
    color: var(--WHITE);
}

#body a.highlight, #body a.highlight:hover, #body a.highlight:focus {
    text-decoration: none;
    outline: none;
    outline: 0;
}

#body a.highlight, #body a.no-highlight {
    line-height: 1.1;
    display: inline-block;
}

#body a.highlight:after {
    display: block;
    content: "";
    height: 1px;
    width: 0%;
    -webkit-transition: width 0.5s ease;
    -moz-transition: width 0.5s ease;
    -ms-transition: width 0.5s ease;
    transition: width 0.5s ease;
    background-color: var(--MAIN-LINK-HOVER-color);
}

#body a.highlight:hover:after, #body a.highlight:focus:after {
    width: 100%;
}

/* ========================================
   TEXT FORMATTING & EMPHASIS
======================================== */
strong {
    background: var(--STRONG-BG);
    color: white;
    padding: 0px 3px 0px 3px;
}

time > strong {
    color: var(--MAIN-TEXT-color-DARK);
    background: transparent;
    padding-right: 1rem;
}

.readtime > strong {
    color: var(--MAIN-TEXT-color-DARK);
    background: transparent;
    padding-left: 1rem;
}

.author {
    padding-left: 1rem;
    padding-right: 1rem;
}

div.ulist > ul > li > p > strong {
    background: var(--STRONG-BG);
    color: white;
    padding: 0px 3px 0px 3px;
}

mark {
    background-image: linear-gradient(to right, 
      color-mix(in srgb, rgba( 162, 207, 244, 1 ) 20%, transparent), 
      color-mix(in srgb, rgba( 162, 207, 244, 1 ) 90%, transparent) 4%, 
      color-mix(in srgb, rgba( 162, 207, 244, 1 ) 40%, transparent));
    border-radius: 0.8em 0.3rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    color: rgba(0, 0, 0, 1);
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
    padding-left: 3px;
    padding-right: 3px;
}

code {
    background: var(--STRONG-BG);
    color: white;
    font-weight: bold;
    border: none;
}

summary {
    text-decoration: underline;
}

.small {
    font-size: smaller;
}

.quote {
    font-style: italic;
}

span.text {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0;
}

span.small {
    font-size: 11px;
    margin: 0;
}

span.divider {
    width: .5rem; 
    display: inline-block;
}

.shortcut-title {
    color: var(--SHORTCUT-TITLE-color) !important;
}

.articleinfo {
    font-size: small;
    font-style: italic;
}

.tracked {
    font-size: 14px;
    text-align: center;
}

.recentlist {
    color: var(--MAIN-TITLES-TEXT-color);
}

