/* Search lunrjs */
.loading {
	display: none;
    width: 100px;
    height: 100px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#lunrSearchForm {
    padding: 0px 0px 0px 20px;
}

.result-title a {
    font-size: 1.2em;
    text-decoration: none;
}

.result-preview {
    color: $body-font-color;
}

.search-input {
    width: 250px;
    margin: 0px 0px 15px 0px;
    border-radius: 3px;
    border: none;
}

input.nopadding {
    padding: 0px 0px 0px 0px;
    text-align: center;
}

input[type="text"] {
    width: 200px;
    height: 20px;
    padding-right: 50px;
    padding-left: 5px;
}

input[type="submit"] {
    margin-left: -50px;
    height: 20px;
    width: 50px;
    border: 0;
    -webkit-appearance: none;
}

.resultCount {
    color: $body-font-color;
}

.result-query {
    font-weight: bold;
}

.pagination {
	text-align: center;
	margin: 16px 8px 16px 8px;
}
.pagination a {
	color: black;
	padding: 8px 16px;
	text-decoration: none;
}
.pagination a.active {
	background-color: #4CAF50;
	color: white;
}
.pagination a:hover:not(.active) {
	background-color: #ddd;
}