
$menu-color-active: #4f5255;
$menu-color-hover: #4f5255;
$link_hover: #004080;
$simple-white: white;
$simple-black: black;
$body-font-color: #555;
$heading-color: #151515;
$author: #999;
$blockqote: #eee;

$copy-button-default: #06c;
$copy-button-hover: #00669b;

$left-navbar-background: #212427;
$left-navbar-font-color: #d2d2d2;
$left-navbar-hr: #030303;

$pre-code-background-color: #2d2d2d;
$pre-code-font-color: #cccccc;
$menu-icon-size: 48px;

$imagefull-border-top: #ce2b3e;

$admonition-caution: #bf3400;
$admonition-note: #19407c;
$admonition-tip: #111;
$admonition-important: #bf0000;
$admonition-warning: #bf6900;
$admonition-seperator: #ddddd8;

$aqua: #00bfbf;
$aqua-background: #00fafa;
$black: #000;
$black-background: #000;
$blue: #0000bf;
$blue-background: #0000fa;
$fuchsia: #bf00bf;
$fuchsia-background: #fa00fa;
$gray: #606060;
$gray-background: #7d7d7d;
$green: #006000;
$green-background: #007d00;
$lime: #00bf00;
$lime-background: #00fa00;
$maroon: #600000;
$maroon-background: #7d0000;
$navy: #000060;
$navy-background: #00007d;
$olive: #606000;
$olive-background: #7d7d00;
$purple: #600060;
$purple-background: #7d007d;
$red: #bf0000;
$red-background: #fa0000;
$silver: #909090;
$silver-background: #bcbcbc;
$teal: #006060;
$teal-background: #007d7d;
$white: #bfbfbf;
$white-background: #fafafa;
$yellow: #bfbf00;
$yellow-background: #fafa00;
$silver-textarea-background: #bcbcbc;

@font-face {
    font-family: "RedHatDisplay";
    font-display: swap;
    src: url(/css/fonts/RedHatDisplay-Regular.eot);
    src: url(/css/fonts/RedHatDisplay-Regular.eot?#iefix) format("embedded-opentype"),url(/css/fonts/RedHatDisplay-Regular.woff) format("woff");
    font-style: normal;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}
  
@font-face {
    font-family: "RedHatDisplay";
    font-display: swap;
    src: url(/css/fonts/RedHatDisplay-Medium.eot);
    src: url(/css/fonts/RedHatDisplay-Medium.eot?#iefix) format("embedded-opentype"),url(/css/fonts/RedHatDisplay-Medium.woff) format("woff");
    font-style: normal;
    font-weight: 400;
    text-rendering: optimizeLegibility;
}
  
@font-face {
    font-family: "RedHatDisplay";
    font-display: swap;
    src: url(/css/fonts/RedHatDisplay-Bold.eot);
    src: url(/css/fonts/RedHatDisplay-Bold.eot?#iefix) format("embedded-opentype"),url(/css/fonts/RedHatDisplay-Bold.woff) format("woff");
    font-style: normal;
    font-weight: 700;
    text-rendering: optimizeLegibility;
}
  
@font-face {
    font-family: "RedHatText";
    font-display: swap;
    src: url(/css/fonts/RedHatText-Regular.eot);
    src: url(/css/fonts/RedHatText-Regular.eot?#iefix) format("embedded-opentype"),url(/css/fonts/RedHatText-Regular.woff) format("woff");
    font-style: normal;
    font-weight: 400;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: "RedHatText";
    font-display: swap;
    src: url(/css/fonts/RedHatText-Medium.eot);
    src: url(/css/fonts/RedHatText-Medium.eot?#iefix) format("embedded-opentype"),url(/css/fonts/RedHatText-Medium.woff) format("woff");
    font-style: normal;
    font-weight: 700;
    text-rendering: optimizeLegibility;
}