.button {
    position: relative;
    display: inline-block;
    padding: 7px 5px;
    margin: 0;
    width: auto;
    font-family: RedHatText,overpass,overpass,open sans,-apple-system,blinkmacsystemfont,Segoe UI,roboto,Helvetica Neue,arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;;
    font-size: 10px;
    font-weight: 400;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    text-align: left;
    letter-spacing: 2px;
}

.button.fullbutton {
    width: 100%;
}

.button.fullbutton span {
    float: right;
}

.button:after {
    content: '';
    position: absolute;
    z-index: -1;
}

/** Colours **/

.button {
    background: #06c;
    color: white !important;
    border-radius: 3px;
}

.button:hover {
    background: #004080;
    color: #FFF !important;
}

.button:active {
    top: 2px;
}


