@charset "UTF-8";
@import url("http://fonts.googleapis.com/css?family=Oxygen:300,400,700&display=swap");
@import url("http://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");
@font-face {
  font-family: "RedHatDisplay";
  font-display: swap;
  src: url(/css/fonts/RedHatDisplay-Regular.eot);
  src: url(/css/fonts/RedHatDisplay-Regular.eot?#iefix) format("embedded-opentype"), url(/css/fonts/RedHatDisplay-Regular.woff) format("woff");
  font-style: normal;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: "RedHatDisplay";
  font-display: swap;
  src: url(/css/fonts/RedHatDisplay-Medium.eot);
  src: url(/css/fonts/RedHatDisplay-Medium.eot?#iefix) format("embedded-opentype"), url(/css/fonts/RedHatDisplay-Medium.woff) format("woff");
  font-style: normal;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: "RedHatDisplay";
  font-display: swap;
  src: url(/css/fonts/RedHatDisplay-Bold.eot);
  src: url(/css/fonts/RedHatDisplay-Bold.eot?#iefix) format("embedded-opentype"), url(/css/fonts/RedHatDisplay-Bold.woff) format("woff");
  font-style: normal;
  font-weight: 700;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: "RedHatText";
  font-display: swap;
  src: url(/css/fonts/RedHatText-Regular.eot);
  src: url(/css/fonts/RedHatText-Regular.eot?#iefix) format("embedded-opentype"), url(/css/fonts/RedHatText-Regular.woff) format("woff");
  font-style: normal;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: "RedHatText";
  font-display: swap;
  src: url(/css/fonts/RedHatText-Medium.eot);
  src: url(/css/fonts/RedHatText-Medium.eot?#iefix) format("embedded-opentype"), url(/css/fonts/RedHatText-Medium.woff) format("woff");
  font-style: normal;
  font-weight: 700;
  text-rendering: optimizeLegibility;
}
/* ==================================================
   CSS Imports
================================================== */
/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 License: none (public domain)
 Removed code from first reset list since it conflics with highlight.js.
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Clear Fix Styles */
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.clearfix {
  display: inline-block;
}

/* start commented backslash hack \*/
* html .clearfix {
  height: 1%;
}

.clearfix {
  display: block;
}

/* close commented backslash hack */
/*{
    height: 1%;
}*/
.clearfix {
  display: block;
}

@font-face {
  font-family: "RedHatDisplay";
  font-display: swap;
  src: url(/css/fonts/RedHatDisplay-Regular.eot);
  src: url(/css/fonts/RedHatDisplay-Regular.eot?#iefix) format("embedded-opentype"), url(/css/fonts/RedHatDisplay-Regular.woff) format("woff");
  font-style: normal;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: "RedHatDisplay";
  font-display: swap;
  src: url(/css/fonts/RedHatDisplay-Medium.eot);
  src: url(/css/fonts/RedHatDisplay-Medium.eot?#iefix) format("embedded-opentype"), url(/css/fonts/RedHatDisplay-Medium.woff) format("woff");
  font-style: normal;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: "RedHatDisplay";
  font-display: swap;
  src: url(/css/fonts/RedHatDisplay-Bold.eot);
  src: url(/css/fonts/RedHatDisplay-Bold.eot?#iefix) format("embedded-opentype"), url(/css/fonts/RedHatDisplay-Bold.woff) format("woff");
  font-style: normal;
  font-weight: 700;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: "RedHatText";
  font-display: swap;
  src: url(/css/fonts/RedHatText-Regular.eot);
  src: url(/css/fonts/RedHatText-Regular.eot?#iefix) format("embedded-opentype"), url(/css/fonts/RedHatText-Regular.woff) format("woff");
  font-style: normal;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: "RedHatText";
  font-display: swap;
  src: url(/css/fonts/RedHatText-Medium.eot);
  src: url(/css/fonts/RedHatText-Medium.eot?#iefix) format("embedded-opentype"), url(/css/fonts/RedHatText-Medium.woff) format("woff");
  font-style: normal;
  font-weight: 700;
  text-rendering: optimizeLegibility;
}
.textleft {
  text-align: left;
}

.textcentre {
  text-align: center;
}

.textright {
  text-align: right;
}

p {
  margin: 0 0 20px 0;
}

strong, b {
  font-weight: 600;
}

em, i {
  font-style: italic;
}

h1 {
  margin: 0 0 10px 0;
  font-weight: 400;
  font-family: "RedHatDisplay";
  text-transform: uppercase;
  font-size: 30px;
  line-height: 42px;
  letter-spacing: -1px;
  color: #151515;
}

h2 {
  margin: 30px 0 15px 0;
  font-weight: 350;
  font-family: "RedHatText";
  font-size: 23px;
  line-height: 21px;
  letter-spacing: -0.5px;
  color: #151515;
}

h3 {
  margin: 26px 0 13px 0;
  font-weight: 200;
  font-family: "RedHatText";
  font-size: 18px;
  line-height: 16px;
  letter-spacing: -0.4px;
  color: #151515;
}

h4, h5, h6 {
  margin: 20px 0 10px 0;
  font-weight: 100;
  font-family: "RedHatText";
  font-size: 12px;
  line-height: 12px;
  color: #151515;
}

ul {
  margin: 0 0 20px 35px;
  list-style-type: square;
}

ul li {
  padding: 0 0 0 2px;
}

ul ul {
  margin: 0 0 0 25px;
}

ol {
  margin: 0 0 20px 35px;
  list-style-type: decimal;
}

/* mod TJU: added 20px for bottom padding */
ol li {
  padding: 0 0 20px 2px;
}

ol ol {
  margin: 0 0 0 25px;
}

hr {
  clear: both;
  float: left;
  width: 100%;
  padding: 0;
  margin: 30px 0 20px 0;
  border: none;
  border-top: 1px solid #cccccc;
  text-align: center;
}

blockquote {
  background: #eee;
  margin: 0 0 5px 0 !important;
  color: #151515;
  border-left: 5px solid #ce2b3e;
  padding: 15px;
  font-style: italic;
}

blockquote p {
  margin: 0;
}

blockquote p.author {
  text-align: right;
  font-size: 14px;
  letter-spacing: 2px;
  color: #999;
}

@media screen and (max-width: 768px) {
  .textcentre {
    text-align: left;
  }

  .textright {
    text-align: left;
  }
}
@font-face {
  font-family: "RedHatDisplay";
  font-display: swap;
  src: url(/css/fonts/RedHatDisplay-Regular.eot);
  src: url(/css/fonts/RedHatDisplay-Regular.eot?#iefix) format("embedded-opentype"), url(/css/fonts/RedHatDisplay-Regular.woff) format("woff");
  font-style: normal;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: "RedHatDisplay";
  font-display: swap;
  src: url(/css/fonts/RedHatDisplay-Medium.eot);
  src: url(/css/fonts/RedHatDisplay-Medium.eot?#iefix) format("embedded-opentype"), url(/css/fonts/RedHatDisplay-Medium.woff) format("woff");
  font-style: normal;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: "RedHatDisplay";
  font-display: swap;
  src: url(/css/fonts/RedHatDisplay-Bold.eot);
  src: url(/css/fonts/RedHatDisplay-Bold.eot?#iefix) format("embedded-opentype"), url(/css/fonts/RedHatDisplay-Bold.woff) format("woff");
  font-style: normal;
  font-weight: 700;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: "RedHatText";
  font-display: swap;
  src: url(/css/fonts/RedHatText-Regular.eot);
  src: url(/css/fonts/RedHatText-Regular.eot?#iefix) format("embedded-opentype"), url(/css/fonts/RedHatText-Regular.woff) format("woff");
  font-style: normal;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: "RedHatText";
  font-display: swap;
  src: url(/css/fonts/RedHatText-Medium.eot);
  src: url(/css/fonts/RedHatText-Medium.eot?#iefix) format("embedded-opentype"), url(/css/fonts/RedHatText-Medium.woff) format("woff");
  font-style: normal;
  font-weight: 700;
  text-rendering: optimizeLegibility;
}
/** Menu Styles **/
#menucont ul.menu {
  margin: 0;
}
#menucont ul.menu li.active {
  background: #4f5255;
}
#menucont ul.menu li:hover {
  background: #4f5255;
}
#menucont ul.menu li.smallpadding {
  padding: 5px 20px 5px 30px;
}
#menucont ul.menu li {
  position: relative;
  float: left;
  width: 100%;
  list-style-type: none;
  padding: 8px 20px;
}
#menucont ul.menu li a.nospacing {
  letter-spacing: 0;
  text-decoration: none;
}

#menucont ul.menu li a {
  /* float: left; */
  color: #d2d2d2;
  width: 100%;
  /* padding: 10px 20px; */
  margin: 0;
  font-weight: 300;
  /* text-transform: uppercase; */
  line-height: 22px;
  text-decoration: none;
  letter-spacing: 0px;
}
#menucont ul.menu li a:hover {
  background: #4f5255;
}

#menucont ul.menu li.active a,
#menucont ul.menu li.active a:hover {
  background: #4f5255;
  font-weight: 600;
}

#menucont .menutitle {
  display: none;
}

@media screen and (max-width: 480px) {
  #menucont .menu {
    display: none;
    margin: 0;
  }

  #menucont .menu.open {
    display: block;
  }

  #menucont ul.menu li {
    position: relative;
    float: none;
  }

  #menucont ul.menu li, #menucont ul.menu ul li {
    display: block;
  }

  #menucont ul.menu li a {
    width: 100%;
    display: inline-block;
    margin: 0;
    padding: 5px 0;
    text-indent: 0;
    line-height: 23px;
    color: rgba(255, 255, 255, 0.6);
    background: none;
    font-weight: 300;
    text-transform: uppercase;
  }

  #menucont ul.menu li.active a,
#menucont ul.menu li.active a:hover {
    font-weight: 600;
    color: white;
    background: none;
  }

  #menucont ul.menu li a:hover {
    color: white;
    background: none;
  }

  #menucont ul.menu > li:last-child a {
    margin: 0 0 20px 0;
  }

  #menucont .menutitle {
    display: block;
    width: 100%;
    padding: 12px 42px 12px 0;
    display: block;
    cursor: pointer;
    text-align: left;
    color: white;
    text-transform: uppercase;
  }

  #menucont .menutitle p {
    margin-bottom: 0;
  }

  #menucont .menutitle p strong {
    margin: 0 0 0 15px;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 2px;
  }

  #menucont .menutitle span {
    margin: 0;
    font-size: 20px;
  }
}
@font-face {
  font-family: "RedHatDisplay";
  font-display: swap;
  src: url(/css/fonts/RedHatDisplay-Regular.eot);
  src: url(/css/fonts/RedHatDisplay-Regular.eot?#iefix) format("embedded-opentype"), url(/css/fonts/RedHatDisplay-Regular.woff) format("woff");
  font-style: normal;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: "RedHatDisplay";
  font-display: swap;
  src: url(/css/fonts/RedHatDisplay-Medium.eot);
  src: url(/css/fonts/RedHatDisplay-Medium.eot?#iefix) format("embedded-opentype"), url(/css/fonts/RedHatDisplay-Medium.woff) format("woff");
  font-style: normal;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: "RedHatDisplay";
  font-display: swap;
  src: url(/css/fonts/RedHatDisplay-Bold.eot);
  src: url(/css/fonts/RedHatDisplay-Bold.eot?#iefix) format("embedded-opentype"), url(/css/fonts/RedHatDisplay-Bold.woff) format("woff");
  font-style: normal;
  font-weight: 700;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: "RedHatText";
  font-display: swap;
  src: url(/css/fonts/RedHatText-Regular.eot);
  src: url(/css/fonts/RedHatText-Regular.eot?#iefix) format("embedded-opentype"), url(/css/fonts/RedHatText-Regular.woff) format("woff");
  font-style: normal;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: "RedHatText";
  font-display: swap;
  src: url(/css/fonts/RedHatText-Medium.eot);
  src: url(/css/fonts/RedHatText-Medium.eot?#iefix) format("embedded-opentype"), url(/css/fonts/RedHatText-Medium.woff) format("woff");
  font-style: normal;
  font-weight: 700;
  text-rendering: optimizeLegibility;
}
.button {
  background: #06c;
  color: white !important;
  border-radius: 3px;
  position: relative;
  display: inline-block;
  padding: 7px 5px;
  margin: 0;
  width: auto;
  font-family: RedHatText, overpass, overpass, open sans, -apple-system, blinkmacsystemfont, Segoe UI, roboto, Helvetica Neue, arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  font-weight: 400;
  cursor: pointer;
  outline: none;
  text-align: left;
}
.button:hover {
  background: #004080;
  color: white !important;
}
.button:active {
  top: 2px;
}

.button.fullbutton {
  width: 100%;
}

.button.fullbutton span {
  float: right;
}

.button:after {
  content: "";
  position: absolute;
  z-index: -1;
}

.asciidoctorcopypaste {
  outline: 0;
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  font-size: 0.8rem;
  padding: 0.5rem 1rem;
  z-index: 1;
  border: none;
  background: #06c;
}
.asciidoctorcopypaste:focus {
  background: #00669b;
}
.asciidoctorcopypaste:hover {
  background: #00669b;
}

/* ==================================================
   Google Fonts
================================================== */
/* ==================================================
   Global Styles
================================================== */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  height: 100%;
  overflow: auto;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

pre code {
  display: block;
  overflow-x: auto;
  background: #2d2d2d;
  color: #cccccc;
  padding: 0.5em;
}

body {
  font-family: "RedHatText";
  font-size: 14px;
  color: #555;
  font-weight: 400;
  line-height: 28px;
  background: white;
  text-rendering: optimizeLegibility;
  vertical-align: baseline;
}

::selection, ::-moz-selection {
  background: #004080;
  color: white;
}

a {
  color: #06c;
  text-decoration: none;
}
a:hover {
  color: #00274d;
  text-decoration: underline solid currentColor;
}
a.left {
  color: #d2d2d2;
}
a.left.hover {
  color: #d2d2d2;
}

/* ==================================================
   Sections
================================================== */
#right {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 1240px;
  z-index: 2;
  padding: 40px 50px 40px 320px;
}

#right p {
  margin: 0 0 20px 0;
}

#right p:last-child {
  margin: 0;
}

#floatright {
  float: right;
  margin: 0px 0px 5px 30px;
}

#footercont {
  color: rgba(0, 0, 0, 0.4);
  text-transform: uppercase;
  font-size: 10px;
}

#footercont p {
  margin: 0;
  text-align: left;
  letter-spacing: 1.4px;
}

/* ==================================================
   Images
================================================== */
img {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
}

img .imgfull {
  float: left;
  width: 100%;
  max-width: 1000px;
  margin: 0 0 20px 0;
  border-top: 5px solid #ce2b3e;
}

#left {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  max-width: 280px;
  background: #212427;
  color: #d2d2d2;
  z-index: 3;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
#left p#logo {
  float: left;
  display: block;
  padding: 30px 20px 20px 20px;
  width: 100%;
  margin: 0 0 20px 0;
}
#left p#logo a {
  color: #d2d2d2;
}
#left p#logo a span.text {
  float: left;
  width: 100%;
  font-size: 30px;
  line-height: 30px;
  font-weight: 700;
  font-family: "RedHatText";
  text-transform: uppercase;
}
#left p#logo a span.fa {
  font-size: 48px;
  margin: 0 0 10px 0;
  -webkit-border-radius: 80px;
  -moz-border-radius: 80px;
  border-radius: 80px;
}
#left p#logo a span.small {
  font-size: smaller;
}

/* support small fonts */
.small {
  font-size: smaller;
}

/* center text */
.center {
  text-align: center;
}

/* AsciiDoctor*/
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.admonitionblock > table {
  border-collapse: separate;
  border: 0;
  background: none;
  width: 100%;
}
.admonitionblock > table td.icon [class^="fa icon-"] {
  font-size: 2.5em;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  cursor: default;
}
.admonitionblock > table td.icon {
  text-align: center;
  width: 80px;
  vertical-align: middle;
}
.admonitionblock > table td.icon img {
  max-width: none;
}
.admonitionblock > table td.icon .icon-caution::before {
  content: "";
  color: #bf3400;
}
.admonitionblock > table td.icon .icon-note::before {
  content: "";
  color: #19407c;
}
.admonitionblock > table td.icon .icon-tip::before {
  content: "";
  text-shadow: 1px 1px 2px rgba(155, 155, 0, 0.8);
  color: #111;
}
.admonitionblock > table td.icon .icon-important::before {
  content: "";
  color: #bf0000;
}
.admonitionblock > table td.icon .icon-warning::before {
  content: "";
  color: #bf6900;
}
.admonitionblock > table td.icon .title {
  font-weight: bold;
  text-transform: uppercase;
  font-family: "FontAwesome";
}
.admonitionblock > table td.content {
  padding-left: 1.125em;
  padding-right: 1.25em;
  border-left: 1px solid #ddddd8;
  color: rgba(0, 0, 0, 0.6);
}
.admonitionblock > table td.content > :last-child > :last-child {
  margin-bottom: 0;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

.text-justify {
  text-align: justify !important;
}

.conum[data-value] {
  margin-right: 5px;
  display: inline-block;
  color: white !important;
  background-color: #06c;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  text-align: center;
  font-size: 0.75em;
  width: 1.67em;
  height: 1.67em;
  line-height: 1.67em;
  font-family: "RedHatText", "Open Sans", "DejaVu Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
}

.conum[data-value] * {
  color: white !important;
}

.conum[data-value] + b {
  display: none;
}

.conum[data-value]::after {
  content: attr(data-value);
}

pre .conum[data-value] {
  position: relative;
  top: -0.125em;
}

b.conum * {
  color: inherit !important;
}

.conum:not([data-value]):empty {
  display: none;
}

/* create borders around images */
.imageblock.bordered img {
  border: 1px solid black;
}

/* modify caption of an imageblock */
.imageblock > .title {
  margin-bottom: 0;
  font-size: small;
  font-weight: bold;
}

/* hr for the menu */
.menuhr {
  margin: 0px;
  border-top: 1px solid #030303;
}

.listingblock pre.highlightjs {
  padding: 0;
}

.listingblock pre.highlightjs > code {
  padding: 1em;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.listingblock pre.prettyprint {
  border-width: 0;
}

.listingblock > .content {
  position: relative;
}

/* move right:5.2em, since we have a copy button now */
.listingblock code[data-lang]::before {
  display: none;
  content: attr(data-lang);
  position: absolute;
  font-size: 0.75em;
  top: 0.425rem;
  right: 5.2rem;
  line-height: 1;
  text-transform: uppercase;
  color: #cccccc;
}

.listingblock:hover code[data-lang]::before {
  display: block;
}

.listingblock.terminal pre .command::before {
  content: attr(data-prompt);
  padding-right: 0.5em;
  color: #cccccc;
}

.listingblock.terminal pre .command:not([data-prompt])::before {
  content: "$";
}

/* minimize the margin on lists */
#right ol li p {
  margin: 0px;
}

ol li {
  padding: 0 0 20px 2px;
}

/* END mod TJU */
/* ==================================================
   Layout Styles
================================================== */
.container {
  position: relative;
  z-index: 2;
  width: 100%;
  padding: 0 30px;
  min-width: 280px;
  line-height: 26px;
}

.container .bodycontainer {
  margin: 0 auto;
  width: 100%;
  max-width: 1000px;
}

/* ==================================================
   Responsive Media Queries - Tablets
================================================== */
@media screen and (max-width: 768px) {
  #left {
    max-width: 200px;
  }

  #left #socialmedia ul {
    bottom: 20px;
    left: 20px;
  }

  #left #socialmedia ul li {
    margin: 0 8px 0 0;
  }

  #left #socialmedia ul li a {
    font-size: 21px;
  }

  #right {
    padding: 20px 20px 20px 230px;
  }
}
/* ==================================================
   Responsive Media Queries - Mobiles
================================================== */
@media screen and (max-width: 480px) {
  #left {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    padding: 20px;
  }

  #left p#logo a {
    padding: 0;
  }

  #left #socialmedia ul {
    position: relative;
    bottom: auto;
    left: auto;
    margin: 5px 0 0 0;
  }

  #left #socialmedia ul li a {
    font-size: 25px;
  }

  #right {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    padding: 30px 20px;
  }
}

/*# sourceMappingURL=style.css.map */
