@import "vars";
/* ==================================================
   CSS Imports
================================================== */

@import "reset";
@import "typography";
@import "menu";
@import "buttons";

/* ==================================================
   Google Fonts
================================================== */
@import url("http://fonts.googleapis.com/css?family=Oxygen:300,400,700");
@import url("http://fonts.googleapis.com/css?family=Montserrat:400,700");

/* ==================================================
   Global Styles
================================================== */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

:root {
    height: 100%;
    overflow: auto;

    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

pre {
    code{
        display: block;
        overflow-x: auto;
        background: $pre-code-background-color;
        color: $pre-code-font-color;
        padding: 0.5em;
    }
}

body {
    font-family: "RedHatText";
    font-size: 14px;
    color: $body-font-color;
    font-weight: 400;
    line-height: 28px;
    background: $simple-white;

    text-rendering: optimizeLegibility;
    vertical-align: baseline;
}

::selection, ::-moz-selection {
    background: $link_hover;
    color: $simple-white;
}

a {
    color: $copy-button-default;
    text-decoration: none;

    &:hover {
        color: darken($link_hover, 10%);
        text-decoration: underline solid currentColor;
    }

    &.left {
        color: $left-navbar-font-color;
    
        &.hover {
            color: $left-navbar-font-color;
        }
    }
}

/* ==================================================
   Sections
================================================== */

#right {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 1240px;
    z-index: 2;
    padding: 40px 50px 40px 320px;
}

#right p {
    margin: 0 0 20px 0;
}

#right p:last-child {
    margin: 0;
}

#footercont {
    color: rgba(0, 0, 0, 0.4);
    text-transform: uppercase;
    font-size: 10px;
}

#footercont p {
    margin: 0;
    text-align: left;
    letter-spacing: 1.4px;
}


/* ==================================================
   Images
================================================== */

img {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
}

img {
    .imgfull {
        float: left;
        width: 100%;
        max-width: 1000px;
        margin: 0 0 20px 0;
        border-top: 5px solid $imagefull-border-top;
    }
}

// left navigation bar
 #left {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    max-width: 280px;
    background: $left-navbar-background;
    color: $left-navbar-font-color;
    z-index: 3;
    overflow-y: auto;

    -webkit-overflow-scrolling: touch;

    // defining logo 
    p#logo {
        float: left;
        display: block;
        padding: 30px 20px 20px 20px;
        width: 100%;
        margin: 0 0 20px 0;
        
        a {
            color: $left-navbar-font-color;

            // title
            span {
                &.text {
                    float: left;
                    width: 100%;
                    font-size: 30px;
                    line-height: 30px;
                    font-weight: 700;
                    font-family: "RedHatText";
                    text-transform: uppercase;
                }
            }

            // icon font awesome
            span {
                &.fa {
                    font-size: $menu-icon-size;
                    margin: 0 0 10px 0;
                    -webkit-border-radius: 80px;
                    -moz-border-radius: 80px;
                    border-radius: 80px;
                }
            }

            // subtitel
            span {
                &.small {
                  font-size: smaller;
                }
            }
        }
    }
}

/* support small fonts */
.small {
    font-size: smaller
}

/* center text */
.center {
    text-align: center
}

/* AsciiDoctor*/
table { 
    border-collapse: collapse;
    border-spacing: 0
}

.admonitionblock>table {
    border-collapse: separate;
    border: 0;
    background: none;
    width:100%;

    td.icon [class^="fa icon-"] {
        font-size:2.5em;
        text-shadow:1px 1px 2px rgba(0,0,0,.5);
        cursor: default
    }

    td.icon {
        text-align: center;
        width: 80px;
        vertical-align: middle;

        img {
            max-width:none;
        }
        
        .icon-caution::before {
            content: "\f06d";
            color: $admonition-caution;
        }
        .icon-note::before {
            content: "\f05a";
            color: $admonition-note;
        }
        .icon-tip::before {
            content: "\f0eb";
            text-shadow:1px 1px 2px rgba(155,155,0,.8);
            color: $admonition-tip;
        }
        .icon-important::before {
            content: "\f06a";
            color: $admonition-important;
        }
        .icon-warning::before {
            content: "\f071";
            color: $admonition-warning;
        }
        .title {
            font-weight: bold;
            text-transform: uppercase;
            font-family: "FontAwesome";
        }
    }
    td.content {
        padding-left: 1.125em;
        padding-right: 1.25em;
        border-left: 1px solid $admonition-seperator;
        color:rgba(0,0,0,.6);
    }
    td.content>:last-child>:last-child {
        margin-bottom:0;
    }
}

.text-left {
    text-align:left!important;
}
.text-right {
    text-align:right!important;
}
.text-center {
    text-align:center!important
}
.text-justify {
    text-align:justify!important
}

.conum[data-value] {
    margin-right: 5px;
    display: inline-block;
    color: $simple-white!important;
    background-color: $copy-button-default;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    text-align: center; 
    font-size: .75em;
    width: 1.67em;
    height: 1.67em;
    line-height: 1.67em;
    font-family: "RedHatText","Open Sans","DejaVu Sans",sans-serif;
    font-style:normal;
    font-weight:bold;
}

.conum[data-value] * {
    color:$simple-white!important;
}

.conum[data-value]+b {
    display:none
}

.conum[data-value]::after {
    content:attr(data-value)
}


pre .conum[data-value] {
    position:relative;
    top:-.125em
}

b.conum * {
    color: inherit!important
}

.conum:not([data-value]):empty {
    display:none
}

/* create borders around images */
.imageblock.bordered img {
    border: 1px solid $simple-black;
}

/* modify caption of an imageblock */
.imageblock>.title {
    margin-bottom: 0;
    font-size: small;
    font-weight: bold;
}

/* hr for the menu */
.menuhr {
    margin: 0px;
    border-top: 1px solid $left-navbar-hr;
}


.listingblock pre.highlightjs{
    padding: 0
}

.listingblock pre.highlightjs>code {
    padding: 1em;
    -webkit-border-radius: 4px;
    border-radius:4px;
}

.listingblock pre.prettyprint {
    border-width: 0
}

.listingblock>.content {
    position: relative
}

/* move right:5.2em, since we have a copy button now */
.listingblock code[data-lang]::before {
    display: none;
    content: attr(data-lang);
    position: absolute;
    font-size: .75em;
    top: .425rem;
    right: 5.2rem;
    line-height: 1; 
    text-transform: uppercase;
    color: $pre-code-font-color;
}

.listingblock:hover code[data-lang]::before {
    display:block
}

.listingblock.terminal pre .command::before {
    content: attr(data-prompt);
    padding-right: .5em;
    color: $pre-code-font-color;
}

.listingblock.terminal pre .command:not([data-prompt])::before {
    content:"$"
}

/* minimize the margin on lists */
#right ol li p {
    margin: 0px;
}
ol li {
    padding: 0 0 20px 2px;
}

/* END mod TJU */ 

/* ==================================================
   Layout Styles
================================================== */

.container {
    position: relative;
    z-index: 2;
    width: 100%;
    padding: 0 30px;
    min-width: 280px;
    line-height: 26px;
}

.container .bodycontainer {
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
}

/* ==================================================
   Responsive Media Queries - Tablets
================================================== */

@media screen and (max-width: 768px) {

    #left {
        max-width: 200px;
    }

    #left #socialmedia ul {
        bottom: 20px;
        left: 20px;
    }

    #left #socialmedia ul li {
        margin: 0 8px 0 0;
    }

    #left #socialmedia ul li a {
        font-size: 21px;
    }

    #right {
        padding: 20px 20px 20px 230px;
    }

}

/* ==================================================
   Responsive Media Queries - Mobiles
================================================== */

@media screen and (max-width: 480px) {

    #left {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        max-width: 100%;
        padding: 20px;
    }

    #left p#logo a {
        padding: 0;
    }

    #left #socialmedia ul {
        position: relative;
        bottom: auto;
        left: auto;
        margin: 5px 0 0 0;
    }

    #left #socialmedia ul li a {
        font-size: 25px;
    }

    #right {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        max-width: 100%;
        padding: 30px 20px;
    }
}