{{ $featured_image := partial "func/GetFeaturedImage.html" . }}


{{ partial "header.html" . }}

{{ if .Params.categories }}

<div class="categories tracked">    
  {{range .Params.categories}}
	  <a id="textElement" class="category-link no-highlight" href="{{ "/categories/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
	{{end}}
</div>
{{end}}

<p class="tracked article-meta">
<span class="publish-date" {{ printf `datetime="%s"` (.Date.Format "2006-01-02T15:04:05Z07:00") | safeHTMLAttr }}>
    <i class="fas fa-calendar-alt"></i>
    <strong>{{- .Date.Format "January 2, 2006" -}}</strong>
    {{/* Only show "Updated" if Lastmod is different from Date (more than 1 day apart) */}}
    {{ $daysDiff := div (sub .Lastmod.Unix .Date.Unix) 86400 }}
    {{ if gt $daysDiff 0 }}
    <span class="updated-date" title="Last updated on {{ .Lastmod.Format "January 2, 2006" }}">
        <i class="fas fa-sync-alt"></i> Updated {{ .Lastmod.Format "Jan 2, 2006" }}
    </span>
    {{ end }}
</span>

<span class="divider">
	-
</span>

<span class="author">
	{{ range .Param "authors" }}
	{{ $name := . }}
	{{ $path := printf "/%s/%s" "authors" ($name | urlize) }}
	{{ with $.Site.GetPage $path }}
	  <a href="{{ "/authors/" | relLangURL }}{{ .Params.name  | urlize }}">
		<img class="avatar" src="/img{{ $path }}.png" alt="{{ .Params.name }}" width="35" height="35"/> 
		{{ .Params.name }}
	  </a>
	{{ end }}
    {{ end }}
</span>

<span class="divider">
	-
</span>

{{- $wordCount := countwords .Content -}}
{{- $readingTime := math.Round (div $wordCount 200.0) -}}
{{- if lt $readingTime 1 }}{{ $readingTime = 1 }}{{ end -}}
<span class="readtime" title="{{ $wordCount }} words">
    <i class="fas fa-clock"></i>
    <strong>{{ $readingTime }} min read</strong>
    <span class="word-count">({{ $wordCount }} words)</span>
</span>
{{ partial "bookmark-button.html" . }}
</p>

{{ if $featured_image }}
{{ if .Params.show_featured_image_article }}
{{/* Trimming the slash and adding absURL make sure the image works no matter where our site lives */}}
  {{ $featured_image := (trim $featured_image "/") | absURL }}
    <div class="pr3-ns mb4 mb0-ns w-100 w-40-ns">
      <a href="{{.RelPermalink}}">
        <img src="{{ $featured_image }}" class="img featured-img" style="box-shadow: none" alt="image from {{ .Title }}">
      </a>
    </div>
{{ end }}
{{ end }}


{{ .Content }}

{{ partial "series-nav.html" . }}

{{ partial "related.html" . }}

{{ partial "custom-comments.html" . }}


<footer class="footline">
	{{with .Params.LastModifierDisplayName}}
	    <i class='fas fa-user'></i> <a href="mailto:{{ $.Params.LastModifierEmail }}">{{ . }}</a> {{with $.Date}} <i class='fas fa-calendar'></i> {{ .Format "02/01/2006" }}{{end}}
	    </div>
	{{end}}
</footer>

{{ partial "footer.html" . }}
