<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"><![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"><![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"><!--<![endif]-->
<head>
    <meta name="google-site-verification" content="yq2Ib3doJVHVlEW2wtHap5WY54JhS2CCvI40y30F0FI" />
    <!-- Website Template designed by www.downloadwebsitetemplates.co.uk -->
    <!-- Modified to fit Cryogen.-->
    <meta charset="UTF-8">
    <title>{{title}}{% block subtitle %}{% endblock %}</title>
    {% block meta %}
    <meta name="description" content="{{description}}">
    <meta name="keywords" content="OpenShift, OCP, ServiceMesh, Red Hat, Istio, Canary, Pod, Container">
    {% endblock %}
    <meta content="width=device-width, initial-scale=1, maximum-scale=5" name="viewport">
    <link rel="apple-touch-icon" sizes="152x152" href="/img/ico/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/ico/apple-touch-icon-180x180.png">
    <link rel="apple-touch-icon" sizes="128x128" href="/img/ico/apple-touch-icon-128x128.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/img/ico/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/ico/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/img/ico/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" href="/img/ico/apple-touch-icon-57x57.png">
    <link rel="shortcut icon" href="/img/ico/favicon.ico">
    <!--[if IE]><![endif]-->   
    {% style "css/style.css" %}
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/tomorrow-night-eighties.min.css">
    <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <link rel="stylesheet" href="/css/font-awesome-animation.min.css"> 
    <script src="/js/lunr.min.js" async></script>
    <script src="/js/index/lunr_index.js" type="text/javascript" async></script>
    <script src="/js/lunrclient.js" async></script>

</head>
<body>  
<button onclick="topFunction()" id="myBtn" class="button fa fa-arrow-up" title="Go to top"></button> 

<div id="left">

    <p id="logo">
        <a title="{{title}}" href="{{index-uri}}">
            <span class="fa fa-cloud-upload faa-float animated"></span>
            <span class="text">YAUB</span>
            <span class="text small">Yet another Useless Blog</span>
        </a>
    </p>

    <!--- Search from -->
    <form id="lunrSearchForm" name="lunrSearchForm" action="/">
        <label> <input id="searchfield" class="search-input" name="q" placeholder="Enter search term" type="text"></label>
        <label> <input class="button nopadding" type="submit" value="Search"></label>
    </form>
    <div class="loading" id="loading-div">
        <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
        <span class="sr-only">Loading...</span>
    </div>

    <!-- menu -->
    <div id="menucont" class="bodycontainer clearfix">
        <div class="menutitle">
            <p><span class="fa fa-reorder"></span><strong>Menu</strong></p>
        </div>
        <ul class="menu">
          <a class="left" title="Home" href="{{index-uri}}">
            <li {% if home %} class="active" {% endif %}>Home</li>
          </a>

          <a class="left" title="Archives" href="{{archives-uri}}">
            <li {% if archives %} class="active" {% endif %}>Archives</li>
          </a>

            {% if tags|not-empty %}
            <a class="left" title="Tags" href="{{tags-uri}}">
            <li {%ifequal uri tags-uri %} class="active" {% endifequal %}>Tags</li>
            </a>
            {% endif %}
            
            {% for nav-page in navbar-pages %}
            <a class="left" href="{{nav-page.uri}}">
            <li {%ifequal page.uri nav-page.uri %} class="active" {% endifequal %}>
                {{nav-page.title}}
            </li>
            </a>
            {% endfor %}
            <a class="left" title="RSS" href="{{rss-uri}}">
            <li>RSS</li>
            </a>
        </ul>
    </div>

    <hr class="menuhr">
      <div id="menucont">
        <ul class="menu">
          <li>Recent Posts:</li>
          {% for post in latest-posts %}
            <a class="nospacing left" href="{{post.uri}}"><li class="smallpadding small">{{post.title}}</li></a>
          {% endfor %}
        </ul>
      </div>
    <hr class="menuhr">
      <div id="menucont">
        <ul class="menu">
          <li>Links:</li>
          <a class="nospacing left" href="https://redhat.com" rel="noopener"><li class="smallpadding small">Red Hat</li></a>
          <a class="nospacing left" href="https://docs.openshift.com/" rel="noopener"><li class="smallpadding small">OpenShift Docs</li></a>
          <a class="nospacing left" href="https://github.com/stderrat/stderrat.github.io" rel="noopener"><li class="smallpadding small">Source</li></a>
            {% for page in sidebar-pages %}
              <a class="nospacing left" href="{{page.uri}}"><li class="smallpadding small">{{page.title}}</li></a>
            {% endfor %}
        </ul>
      </div>
</div>

<div id="right" class="clearfix">
  <div class="resultCount" id="resultCount"></div>
  <hr />
  <div id="searchResults">
    {% block content %}
    {% endblock %}
  </div>
<hr/>
<div id="footercont" class="small clearfix">Copyright &copy; {{today|date:yyyy}} {{author}}
    <p>Powered by <a href="http://cryogenweb.org">Cryogen</a> | Free Website Template by <a title="free website templates" href="http://www.downloadwebsitetemplates.co.uk" rel="noreferrer">Download Website Templates</a></p>

</div>
</div>

<!-- currently hardcoded -->
<div id="farright">
  <ul class="menu">
    Main Topics: 
      <li><a class="nospacing" href="/tags-output/Service%20Mesh/">ServiceMesh</a></li>
      <li><a class="nospacing" href="/tags-output/Tekton/">Tekton</a></li>
      <li><a class="nospacing" href="/tags-output/Ansible/">Ansible</a></li>
      <li><a class="nospacing" href="/tags-output/OpenShift/">OpenShift</a></li>
  </ul>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
{% script "js/highlight.pack.js" %}
<script>hljs.initHighlightingOnLoad();</script>

{% script "/js/clipboard.min.js" %}
{% script "/js/clipboard.integration.js" %}
{% script "js/scripts.js" %}

<script>window.onload = start;</script>

{% if post.klipse %} {{post.klipse|safe}} {% endif %}
{% if page.klipse %} {{page.klipse|safe}} {% endif %}

<script>
  function topFunction() {
    document.body.scrollTop = 0; // For Safari
    document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
  } 
</script>

</body>
</html>
