/**
 * Code & Syntax Highlighting Component
 * Code blocks, inline code, copy-to-clipboard, and syntax colors
 */

/* ========================================
   SYNTAX HIGHLIGHTING
======================================== */
.hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    line-height: 1.3em;
    color: #abb2bf;
    background: #282c34;
    border-radius: 5px;
}

.hljs-keyword, .hljs-operator {
    color: #F9A4C3;
}

.hljs-pattern-match {
    color: #F92672;
}

.hljs-pattern-match .hljs-constructor {
    color: #61aeee;
}

.hljs-function {
    color: #61aeee;
}

.hljs-function .hljs-params {
    color: #A6E22E;
}

.hljs-function .hljs-params .hljs-typing {
    color: #FD971F;
}

.hljs-module-access .hljs-module {
    color: #7e57c2;
}

.hljs-constructor {
    color: #e2b93d;
}

.hljs-constructor .hljs-string {
    color: #9CCC65;
}

.hljs-comment, .hljs-quote {
    color: #b18eb1;
    font-style: italic;
}

.hljs-doctag, .hljs-formula {
    color: #c678dd;
}

.hljs-section, .hljs-name, .hljs-selector-tag, .hljs-deletion, .hljs-subst {
    color: #e06c75;
}

.hljs-literal {
    color: #56b6c2;
}

.hljs-string, .hljs-regexp, .hljs-addition, .hljs-attribute, .hljs-meta-string {
    color: #98c379;
}

.hljs-built_in, .hljs-class .hljs-title {
    color: #e6c07b;
}

.hljs-attr, .hljs-variable, .hljs-template-variable, .hljs-type, .hljs-selector-class, .hljs-selector-attr, .hljs-selector-pseudo, .hljs-number {
    color: #d19a66;
}

.hljs-symbol, .hljs-bullet, .hljs-link, .hljs-meta, .hljs-selector-id, .hljs-title {
    color: #61aeee;
}

.hljs-emphasis {
    font-style: italic;
}

.hljs-strong {
    font-weight: bold;
}

.hljs-link {
    text-decoration: underline;
}

/* Selection color */
.hljs::selection {
    background: #000000;
}

.hljs::-moz-selection,
.hljs span::-moz-selection {
    background: #373b41;
}

/* ========================================
   CODE BLOCKS
======================================== */
#body-inner pre {
    white-space: pre-wrap;
    background: #282c34 !important;
}

#body-inner .tabs-wrapper.ui-theme-badges {
    background: #1d1f21;
}

#body-inner .tabs-wrapper.ui-theme-badges .tabs-nav li {
    font-size: 0.9rem;
    text-transform: uppercase;
}

#body-inner .tabs-wrapper.ui-theme-badges .tabs-nav li a {
    background: #35393c;
}

#body-inner .tabs-wrapper.ui-theme-badges .tabs-nav li.current a {
    background: #4d5257;
}

.listingblock>.content>.highlight {
    box-shadow:0 20px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
}

/* ========================================
   COPY TO CLIPBOARD
======================================== */
pre {
    position: relative;
    color: #ffffff;
}

.copy-to-clipboard {
    color: #5e5e5e;
    background-color: var(--INLINE-CODE-BG-color);
    display: none;
    background-image: url(../../../images/clippy.svg);
    background-position: 50% 50%;
    background-size: 16px 16px;
    background-repeat: no-repeat;
    width: 27px;
    height: 1.45rem;
    top: -1px;
    vertical-align: middle;
    position: relative;
    margin-left: -.2rem;
    cursor: pointer;
    border-radius: 0 2px 2px 0;
    margin-bottom: 1px;
}

/* Copy button for inline code */
code + .copy-to-clipboard {
    margin-left: -1px;
    border-left: 0 !important;
    font-size: inherit !important;
    vertical-align: middle;
    height: 21px;
    top: 0;
}

pre .copy-to-clipboard {
    background-color: var(--CLIPBOARD-BG-color);
    color: var(--CLIPBOARD-color);
    display: inline-block;
    position: absolute;
    right: 4px;
    top: 4px;
    border-radius: 2px;
}

pre .copy-to-clipboard:hover {
    background-color: var(--CLIPBOARD-BG-HOVER-color);
    color: var(--CLIPBOARD-color);
    display: inline-block;
}

/* Copy-to-clipboard tooltip */
.tooltipped {
    position: relative;
}

.tooltipped:after {
    position: absolute;
    z-index: 1000000;
    display: none;
    padding: 5px 8px;
    font: normal normal 11px/1.5 "Work Sans", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
    color: #fff;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: break-word;
    white-space: pre;
    pointer-events: none;
    content: attr(aria-label);
    background: rgba(0, 0, 0, 0.8);
    border-radius: 3px;
    -webkit-font-smoothing: subpixel-antialiased;
}

.tooltipped:before {
    position: absolute;
    z-index: 1000001;
    display: none;
    width: 0;
    height: 0;
    color: rgba(0, 0, 0, 0.8);
    pointer-events: none;
    content: "";
    border: 5px solid transparent;
}

.tooltipped:hover:before, 
.tooltipped:hover:after, 
.tooltipped:active:before, 
.tooltipped:active:after, 
.tooltipped:focus:before, 
.tooltipped:focus:after {
    display: inline-block;
    text-decoration: none;
}

.tooltipped-s:after, .tooltipped-se:after, .tooltipped-sw:after {
    top: 100%;
    right: 50%;
    margin-top: 5px;
}

.tooltipped-s:before, .tooltipped-se:before, .tooltipped-sw:before {
    top: auto;
    right: 50%;
    bottom: -5px;
    margin-right: -5px;
    border-bottom-color: rgba(0, 0, 0, 0.8);
}

.tooltipped-se:after {
    right: auto;
    left: 50%;
    margin-left: -15px;
}

.tooltipped-sw:after {
    margin-right: -15px;
}

.tooltipped-n:after, .tooltipped-ne:after, .tooltipped-nw:after {
    right: 50%;
    bottom: 100%;
    margin-bottom: 5px;
}

.tooltipped-n:before, .tooltipped-ne:before, .tooltipped-nw:before {
    top: -5px;
    right: 50%;
    bottom: auto;
    margin-right: -5px;
    border-top-color: rgba(0, 0, 0, 0.8);
}

.tooltipped-ne:after {
    right: auto;
    left: 50%;
    margin-left: -15px;
}

.tooltipped-nw:after {
    margin-right: -15px;
}

.tooltipped-s:after, .tooltipped-n:after {
    transform: translateX(50%);
}

.tooltipped-w:after {
    right: 100%;
    bottom: 50%;
    margin-right: 5px;
    transform: translateY(50%);
}

.tooltipped-w:before {
    top: 50%;
    bottom: 50%;
    left: -5px;
    margin-top: -5px;
    border-left-color: rgba(0, 0, 0, 0.8);
}

.tooltipped-e:after {
    bottom: 50%;
    left: 100%;
    margin-left: 5px;
    transform: translateY(50%);
}

.tooltipped-e:before {
    top: 50%;
    right: -5px;
    bottom: 50%;
    margin-top: -5px;
    border-right-color: rgba(0, 0, 0, 0.8);
}

/* ========================================
   CODE NUMBERS (CONUM)
======================================== */
.conum .hljs-string {
    display: inline-block;
    color: white !important;
    background-color: #385b7f;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    text-align: center;
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-family: "Open Sans", "Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
}

.conum[data-value] {
    margin-right: 5px;
    display: inline-block;
    color: white!important;
    background-color: #385b7f;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    text-align: center;
    font-size: .75em;
    width: 1.67em;
    height: 1.67em;
    line-height: 1.67em;
    font-family: "RedHatText","Open Sans","DejaVu Sans",sans-serif;
    font-style:normal;
    font-weight:bold;
}

.conum[data-value] * {
    color: white!important;
}

.conum[data-value]+b {
    display:none
}

.conum[data-value]::after {
    content:attr(data-value)
}

pre .conum[data-value] {
    position:relative;
    top:-.125em
}

b.conum * {
    color: inherit!important
}

.conum:not([data-value]):empty {
    display:none
}

/* ========================================
   COLIST (Code List)
======================================== */
div.colist {
    padding: 0 0 0 0.938rem;
}

div.colist > table {
    border: 0;
    width: unset;
}

div.colist > table > tbody > tr > td {
    border: 0;
    vertical-align: top;
}

div.colist > table > tbody > tr > td > div.ulist > ul {
    margin: 0;
}

div.colist > table > tbody > tr > td > div.ulist > ul > li > p {
    margin: 0 0 0 0;
}

div.colist > table > tbody > tr > td > div.ulist > ul > li > div.ulist > ul {
    margin: 0;
}

div.colist > table > tbody > tr > td > div.ulist > ul > li > div.ulist  ul > li > p {
    margin: 0 0 0 0;
}

