/**
 * Table of Contents (TOC) Component
 * Right-side navigation for article sections
 */

/* ========================================
   TOC CONTAINER
======================================== */
#toc-field {
    position: fixed;
    top: 0px;
    z-index: 1000;
    max-width: 15rem;
    min-width: 15rem;
    right: 1px;
}

.progress {
    position:absolute;
    background-color: var(--MAIN-BG-color);
    width: auto;
    border: thin solid #ECECEC;
    display:none;
    z-index:200;
}

.progress ul {
    list-style: none;
    margin: 0;
    padding: 0 15px;
}

#toc-menu {
    border-right: thin solid #DAD8D8 !important;
    padding-right: 1rem !important;
    margin-right: 0.5rem !important;
}

/* ========================================
   TOC HEADER & CONTENT
======================================== */
#TableOfContentsHeader {
    font-size: 13px !important;
    max-height: 85vh;
    overflow: auto;
    padding: 15px 5px 0px 5px !important;
    font-weight: bold;
}

#TableOfContents {
    font-size: 13px !important;
    max-height: 85vh;
    overflow: auto;
    padding: 15px 5px !important;
}

#TableOfContents > ul {
    border-style: solid;
    border-width: 0 0 0 2px;
    border-color: var(--TOC-BORDER-color);
    margin-top: 0;
    margin-bottom: 0;
}

#TableOfContents > ul > li {
    list-style-type: none;
    margin-top: 0;
}

#TableOfContents > ul > li > a {
    color: var(--TOC-INACTIVE-color);
    font-weight: normal;
    transition: color 0.2s ease;
}

#TableOfContents > ul, ol {
    padding-left: 1.7rem;
}

/* TOC 2nd level fix */
#TableOfContents > ul ul, 
ul ol, 
ol ul, 
ol ol {
    padding-inline-start: 20px;
}

#TableOfContents > ul > li.active > a {
    color: var(--MAIN-LINK-color);
    font-weight: 600;
}

#TableOfContents > ul > li > a:hover {
    color: var(--MAIN-LINK-HOVER-color);
}

#TableOfContents > ul > li > ul > li {
    list-style-type: none;
    margin-top: 0;
}

#TableOfContents > ul > li > ul > li > a {
    color: var(--TOC-INACTIVE-color);
    transition: color 0.2s ease;
}

#TableOfContents > ul > li > ul > li.active > a {
    color: var(--MAIN-LINK-color);
    font-weight: 600;
}

#TableOfContents > ul > li > ul > li > a:hover {
    color: var(--MAIN-LINK-HOVER-color);
}

#TableOfContents li.active > a {
    position: relative;
}

#TableOfContents li.active > a::before {
    content: "";
    position: absolute;
    left: -1.7rem;
    top: 0;
    bottom: 0;
    width: 3px;
    background: var(--MAIN-LINK-color);
    border-radius: 2px;
}

.hidden-toc {
    display: inline-block;
    text-indent: -999em;
}

