
:root{

    --MAIN-TEXT-color:#323232; /* Color of text by default */
    --MAIN-TITLES-TEXT-color: #5e5e5e; /* Color of titles h2-h3-h4-h5 */
    --MAIN-LINK-color:#06c; /* Color of links */
    --MAIN-LINK-HOVER-color: #06c; /* Color of hovered links */
    --MAIN-ANCHOR-color: #06c; /* color of anchors on titles */

    --MENU-HOME-LINK-color: #d2d2d2; /* Color of the home button text */
    --MENU-HOME-LINK-HOVER-color: #4f5255; /* Color of the hovered home button text */

    --MENU-HEADER-BG-color:#212427; /* Background color of menu header */
    --MENU-HEADER-BORDER-color:#212427; /*Color of menu header border */

    --MENU-SEARCH-BG-color:#fff; /* Search field background color (by default borders + icons) */
    --MENU-SEARCH-BOX-color: #212427; /* Override search field border color */
    --MENU-SEARCH-BOX-ICONS-color: rgb(59, 59, 59); /* Override search field icons color */

    --MENU-SECTIONS-ACTIVE-BG-color:#212427; /* Background color of the active section and its childs */
    --MENU-SECTIONS-BG-color:#212427; /* Background color of other sections */
    --MENU-SECTIONS-LINK-color: #d2d2d2; /* Color of links in menu */
    --MENU-SECTIONS-LINK-HOVER-color: #d2d2d2;  /* Color of links in menu, when hovered */
    --MAIN-SECTION-LINK-HOVER-color-BG-color: #4f5255;
    --MENU-SECTION-ACTIVE-CATEGORY-color: #d2d2d2; /* Color of active category text */
    --MENU-SECTION-ACTIVE-CATEGORY-BG-color: #4f5255; /* Color of background for the active category (only) */

    --MENU-VISITED-color: #06c; /* Color of 'page visited' icons in menu */
    --MENU-SECTION-HR-color: #2b2020; /* Color of <hr> separator in menu */

    --BUTTON-BG-color: #06c;
    --BUTTON-BG-HOVER-color: #004080;
    --BUTTON-BORDER-color: #ccc;
    --BUTTON-color: #fff;
    --BUTTON-BORDER-color: #ccc;

    --TOC-BORDER-color: #d2d2d2;
    --TOC-INACTIVE-color: #323232;
    --TOC-NEXTPREV-color: #323232;

    --MENU-TAG-BG-color: #06c;

    --INLINE-CODE-BG-color: #e0e0e0;
    --INLINE-CODE-color: #ab2121;

    --CLIPBOARD-color: #fff;
    --CLIPBOARD-BG-color: #000;
    --CLIPBOARD-BG-HOVER-color: #06c; 

    --SHORTCUT-TITLE-color: #cecece;
}

/* Tags */

#head-tags{
    margin-left:1em;  
    margin-top:1em;
}
  
#body .tags a.tag-link {
    display: inline-block;
    line-height: 2em;
    font-size: 0.8em;
    position: relative;
    margin: 0 16px 8px 0;
    padding: 0 10px 0 12px;
    background: var(--MENU-TAG-BG-color);  
    
    -webkit-border-bottom-right-radius: 3px;    
    border-bottom-right-radius: 3px;
    -webkit-border-top-right-radius: 3px;    
    border-top-right-radius: 3px;

    -webkit-border-bottom-left-radius: 3px;    
    border-bottom-left-radius: 3px;
    -webkit-border-top-left-radius: 3px;    
    border-top-left-radius: 3px;

    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    color: #fff;
}

#body .tags a.tag-link:before {
    border-right-color: var(--MENU-TAG-BG-color);
}

/* END  Tags */ 

html, body {
    scroll-padding-top: 100px;
}

.shortcut-title {
    color: var(--SHORTCUT-TITLE-color) !important;
}

#pagination ul {
    display: inline;
}

#pagination li {
    display: inline;
}

.pagination {
    padding-left: 0;
}

li.pagination__item--current > a {
    background-color: #d2d2d2 !important;
    cursor: default !important;
    pointer-events: none;
}

#sidebar ul.topics li.parent ul, #sidebar ul.topics>li.active ul {
    display: block;
    position: relative;
}

li.parent ul::before {
    content: "";
    background: var(--MENU-SECTIONS-LINK-color);
    width: 1px;
    /* height: 100%; */
    top: 3px;
    bottom: 10px;
    left: 0;
    display: block;
    position: absolute;
    z-index: 1;
}

#chapter p {
    text-align: left;
    font-size: 16px;
}

.articleinfo {
    font-size: small;
    font-style: italic;
}

code {
  background: var(--INLINE-CODE-BG-color);
  font-style: italic;
  color: var(--INLINE-CODE-color);
}

.copy-to-clipboard {
    color: #5e5e5e;
    background-color: var(--INLINE-CODE-BG-color);
    display: none;
}

pre .copy-to-clipboard {
    background-color: var(--CLIPBOARD-BG-color);
    color: var(--CLIPBOARD-color);
    display: inline-block;
}

pre .copy-to-clipboard:hover {
    background-color: var(--CLIPBOARD-BG-HOVER-color);
    color: var(--CLIPBOARD-color);
    display: inline-block;
}

.nav-prev {
    min-width: 24px;
    padding-left: 1.7rem;
    color: var(--TOC-NEXTPREV-color);
}

.nav-next {
    min-width: 24px;
    padding-left: 1.7rem;
    color: var(--TOC-NEXTPREV-color);
}

.js .top-btn.sticky {
    visibility: visible;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    transform: rotate(360deg);
  }

.top-btn {
    overflow: hidden;
    visibility: hidden;
    display: block;
    position: fixed;
    bottom: 1rem;
    right: 10rem;
    width: 40px;
    height: 40px;
    float: right;
    z-index: 1000;
    border: none;
    outline: none;
    background-color: rgba(255,255,255, 0.95);
    color: #777 !important;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    -ms-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-bottom: none;
    text-decoration: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
	-webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.27);
    -moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.27);
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.27);
    font-size: 18px;
}

.top-btn:hover,
.top-btn:focus {
  outline: none;
  text-decoration: none;
  background-color: rgba(255,255,255, 0.95);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-bottom: none;
  -webkit-box-shadow: 0px 7px 16px 1px rgba(0,0,0,0.19);
  -moz-box-shadow: 0px 7px 16px 1px rgba(0,0,0,0.19);
  box-shadow: 0px 7px 16px 1px rgba(0,0,0,0.19);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.copyright {
  font-size: 12px;
  text-transform: uppercase;
  padding: 3rem 16rem 3rem 6rem;
}

#body .nav {
    top: 0;
    bottom: 0;
    width: 4rem;
    font-size: 50px;
    height: 100%;
    cursor: pointer;
    display: table;
    text-align: center;
}

#toc-field {
    position: fixed; 
    top: 0px; 
    z-index: 1000;
    max-width: 15rem;
    min-width: 15rem;
    right: 1px;
}

#TableOfContentsHeader {
    font-size: 13px !important;
    max-height: 85vh;
    overflow: auto;
    padding: 15px 5px 0px 5px !important;
    font-weight: bold;
}

#TableOfContents > ul {
    border-style: solid;
    border-width: 0 0 0 2px;
    border-color: var(--TOC-BORDER-color);
    margin-top: 0;
    margin-bottom: 0;
}

#TableOfContents > ul > li {
  list-style-type: none;
  margin-top: 0;
}

#TableOfContents > ul > li > a  {
    color: var(--TOC-INACTIVE-color);
}

#TableOfContents > ul, ol {
    padding-left: 1.7rem;
}

#TableOfContents > ul, ol > li > ul, ol {
}

/* TOC 2nd level fix */
#TableOfContents > ul ul, ul ol, ol ul, ol ol {
    padding-inline-start: 20px;
}

#TableOfContents > ul > li.active > a {
    color: var(--MAIN-LINK-color);
}

#TableOfContents > ul > li > a:hover {
    color: darken(var(--MAIN-LINK-HOVER-color), 10%);
}

#TableOfContents > ul > li > ul > li {
    list-style-type: none;
    margin-top: 0;
}

#TableOfContents > ul > li > a {
    font-weight: normal;
}

#TableOfContents > ul > li > ul > li > a {
    color: var(--TOC-INACTIVE-color);
}

#TableOfContents > ul > li > ul > li.active > a {
    color: var(--MAIN-LINK-color);
}

#TableOfContents > ul > li > ul > li > a:hover {
    color: darken(var(--MAIN-LINK-HOVER-color), 10%);
}

#TableOfContents li.active:before {
    content: "\2192";
    display: inline-block;
    margin-left: -20px;
    width: 20px;
    font-size: 1rem;
}

#body .padding {
    padding: 3rem 16rem 3rem 6rem;
}

.tracked {
  font-size: 14px;
  text-align: center;
}

.conum .hljs-string {
    display: inline-block;
    color: white !important;
    background-color: #06c;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    text-align: center;
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-family: "Open Sans", "Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
}

.conum[data-value] {
    margin-right: 5px;
    display: inline-block;
    color: white!important;
    background-color: #06c;;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    text-align: center; 
    font-size: .75em;
    width: 1.67em;
    height: 1.67em;
    line-height: 1.67em;
    font-family: "RedHatText","Open Sans","DejaVu Sans",sans-serif;
    font-style:normal;
    font-weight:bold;
}

.conum[data-value] * {
    color: white!important;
}

.conum[data-value]+b {
    display:none
}

.conum[data-value]::after {
    content:attr(data-value)
}

.archivetable-content {
    padding: 1rem 13rem 1rem 1rem;
}

.archivetable-date {
    padding: 1rem 1rem 1rem 1rem;
}

pre .conum[data-value] {
    position:relative;
    top:-.125em
}

b.conum * {
    color: inherit!important
}

.conum:not([data-value]):empty {
    display:none
}

.hljs-string, .hljs-regexp, .hljs-addition, .hljs-attribute, .hljs-meta-string {
    color: #98c379;
}

.btn-default {
  color: var(--BUTTON-color) !important;
  background-color: var(--BUTTON-BG-color) !important;
  border: 0 !important;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active {
  color: var(--BUTTON-color) !important;
  background-color: var(--BUTTON-BG-HOVER-color) !important;
  border-color: var(--BUTTON-BORDER-color) !important;
}

body {
    color: var(--MAIN-TEXT-color) !important;
}

textarea:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, select[multiple=multiple]:focus {
    border-color: none;
    box-shadow: none;
}

h2, h3, h4, h5 {
    color: var(--MAIN-TITLES-TEXT-color) !important;
}

span.text {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
}

#logo {
  font-size: 48px;
  margin: 0 0 0 0;
  border-radius: 80px;
  line-height: 5px;
}

span.small {
  font-size: 11px;
  margin: 0;
}

p.logoarea {
  margin: 0 0 0 0;
}

a {
    color: var(--MAIN-LINK-color);
}

.anchor {
    color: var(--MAIN-ANCHOR-color);
}

.anchor:hover {
    color: darken(var(--MAIN-ANCHOR-color), 10%);
}

a:hover {
    color: darken(var(--MAIN-LINK-HOVER-color), 10%);
}

h1.recentlist {
    text-align: left !important;
    text-transform: none;
}

h2.recentlist {
    text-align: left !important;
    margin-top: 1px;
}
.recentlist {
    color: var(--MAIN-TITLES-TEXT-color);
}
.dd-item a:hover {
    color: darken(var(--MAIN-LINK-HOVER-color), 10%);
    background: var(--MAIN-SECTION-LINK-HOVER-color-BG-color);
}

#sidebar ul li.visited > a .read-icon {
	color: var(--MENU-VISITED-color);
}

#body a.highlight:after {
    display: block;
    content: "";
    height: 1px;
    width: 0%;
    -webkit-transition: width 0.5s ease;
    -moz-transition: width 0.5s ease;
    -ms-transition: width 0.5s ease;
    transition: width 0.5s ease;
    background-color: var(--MAIN-LINK-HOVER-color);
}
#sidebar {
	background-color: var(--MENU-SECTIONS-BG-color);
}
#sidebar #header-wrapper {
    background: var(--MENU-HEADER-BG-color);
    color: var(--MENU-SEARCH-BOX-color);
    border-color: var(--MENU-HEADER-BORDER-color);
}
#sidebar .searchbox {
	border-color: var(--MENU-SEARCH-BOX-color);
    background: var(--MENU-SEARCH-BG-color);
}
#sidebar ul.topics > li.parent, #sidebar ul.topics > li.active {
    background: var(--MENU-SECTIONS-ACTIVE-BG-color);
}
#sidebar .searchbox * {
    color: var(--MENU-SEARCH-BOX-ICONS-color);
}

#sidebar a {
    color: var(--MENU-SECTIONS-LINK-color);
}

#sidebar a:hover {
    color: var(--MENU-SECTIONS-LINK-HOVER-color);
    margin-left: -1rem;
    margin-right: -1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

/* reset for shortcuts */
#sidebar #shortcuts a:hover {
    color: var(--MENU-SECTIONS-LINK-HOVER-color);
    padding: 0 1rem;
    margin: unset;
}
 /* reset for homelink */
#sidebar #homelinks a:hover {
    color: var(--MENU-SECTIONS-LINK-HOVER-color);
    padding: 0 1rem;
    margin: unset;
}

#sidebar ul li.active > a {
    background: var(--MENU-SECTION-ACTIVE-CATEGORY-BG-color);
    color: var(--MENU-SECTION-ACTIVE-CATEGORY-color) !important;
}

#sidebar hr {
    border-color: var(--MENU-SECTION-HR-color);
}

#homelinks {
  background: var(--MENU-HEADER-BG-color);
  background-color: var(--MENU-HEADER-BORDER-color);
  border-bottom-color: var(--MENU-HEADER-BORDER-color);
}

#homelinks a {
  color: var(--MENU-HOME-LINK-color);
  font-size: 1.1rem;
}

#homelinks a:hover {
  color: darken(var(--MENU-HOME-LINK-HOVERED-color), 10%);
  background: var(--MAIN-SECTION-LINK-HOVER-color-BG-color);
}

.content {
    padding: 0 0.938rem 0 0.938rem;
}

#body img, #body .video-container {
    margin: 1rem auto 0 auto;
    box-shadow: 0 10px 30px rgb(0 0 0 / 10%);
}

div.imageblock > div.title {
    font-style: italic;
    text-align: center;
    margin-top: 0;
    margin-bottom: 2rem;
}

.text-left {
    text-align:left!important;
}
.text-right {
    text-align:right!important;
}
.text-center {
    text-align:center!important
}
.text-justify {
    text-align:justify!important
}


/* support small fonts */
.small {
    font-size: smaller;
}
  
.quote {
    font-style: italic;
}
  
/* center text */
.center {
    text-align: center;
}


.listingblock>.content>.highlight {
    box-shadow:0 20px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
}

div > .admonitionblock {
    margin-top: 28px;
    margin-bottom: 28px;
  }
  
  .admonitionblock > table {
    border-collapse: separate;
    border: 0;
    background: none;
    width: 100%;
  }

  .admonitionblock > table td.icon [class^="fa icon-"] {
    font-size: 2.5em;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    cursor: default;
  }
  .admonitionblock > table td.icon {
    text-align: center;
    width: 80px;
    vertical-align: middle;
    border: 0;
  }
  .admonitionblock > table td.icon img {
    max-width: none;
  }
  .admonitionblock > table td.icon .icon-caution::before {
    content: "";
    color: #bf3400;
  }
  .admonitionblock > table td.icon .icon-note::before {
    content: "";
    color: #19407c;
  }
  .admonitionblock > table td.icon .icon-tip::before {
    content: "";
    text-shadow: 1px 1px 2px rgba(155, 155, 0, 0.8);
    color: #111;
  }
  .admonitionblock > table td.icon .icon-important::before {
    content: "";
    color: #bf0000;
  }
  .admonitionblock > table td.icon .icon-warning::before {
    content: "";
    color: #bf6900;
  }
  .admonitionblock > table td.icon .title {
    font-weight: bold;
    text-transform: uppercase;
    font-family: "FontAwesome";
  }
  .admonitionblock > table td.content {
    padding-left: 1.125em;
    padding-right: 1.25em;
    border-top: 0;
    border-bottom: 0;
    border-right: 0;
    border-left: 1px solid #ddddd8;
    color: rgba(0, 0, 0, 0.6);
  }
  .admonitionblock > table td.content > :last-child > :last-child {
    margin-bottom: 0;
  }

div.colist {
    padding: 0 0 0 0.938rem;
}

div.colist > table {
    border: 0;
    width: unset;
}

div.colist > table > tbody > tr > td {
    border: 0;
}

#chapter h2 {
    text-align: center;
}

#sidebar #shortcuts h3 {
    font-size: 20px;
}

.btn-bottom-next {
    padding-right: 5px;
}

.btn-bottom-prev {
    padding-right: 5px;
}

.btn-bottom-text {
   padding-right: 0.3rem;
   text-transform: uppercase;
}

#navigation-bottom {
    padding: 0 6rem 0 6rem;
}


/* section recent posts ... from gohuo page */
.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.flex-wrap {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

@media screen and (min-width: 30em) {
    .flex-ns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    }
}


.justify-between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.mb3 {
    margin-bottom: 1rem;
}
.mr3 {
    margin-right: 1rem;
}
.bg-white {
    background-color: #fff;
}
.relative {
    position: relative;
}
@media screen and (min-width: 60em) {
    .w-40-l {
    width: 40%;
    }
}

.w-100 {
    width: 100%;
}

.flex-auto {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: auto;
    min-width: 0;
    min-height: 0;
}

.b--moon-gray {
    border-color: #ccc;
}

/* boxes on summary page ... mainly creats box-shadow and does 3d effect when hover (transistion and transform) */
.ba {
    border-style: solid;
    border-width: 1px;
    -webkit-box-shadow: 0px 2px 15px 10px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 2px 15px 10px rgba(0,0,0,0.15);
    box-shadow: 0px 2px 15px 10px rgba(0,0,0,0.15);

    transition: 0.25s ease box-shadow, 0.25s ease transform;
}
.ba:hover {
    box-shadow: 0px 5px 10px rgba(0,0,0,0.3);
    transform: scale(0.985);
}


@media screen and (min-width: 60em) {
.pa4-l {
    padding: 2rem;
}
.mb2 {
    margin-bottom: .5rem;
}
.pa3 {
    padding: 1rem;
}
}


/* ==================================================
   Responsive Media Queries - Tablets 
================================================== */  
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
    #toc-field {
        display: none;
    }
    #body .padding {
        padding: 0 0 0;
    }
    .pa4-l {
        padding: 1em;
    }
    h2.recentlist {
        text-align: left !important;
        margin-top: 1px;
        font-size: 20px;
    }
    #navigation-bottom {
        padding: 0 0 0 1rem;
    }

    .copyright {
        font-size: 12px;
        text-transform: uppercase;
        padding: 0 0 3rem 1rem;
    }
    #body-inner {
        margin-bottom: 0;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    h1 {
        font-size: 2em;
    }
    h2 {
        font-size: 1.5rem;
        line-height: 110% !important;
        margin: 2.5rem 0 1.5rem 0;
    }

    h3 {
        font-size: 1.3rem;
        line-height: 110% !important;
        margin: 2rem 0 1rem 0;
    }

}
/* ==================================================
   Responsive Media Queries - Tablets landscape
================================================== */
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
    #toc-field {
        display: none;
    }
    #body .padding {
        padding: 0 0 0;
    }
    .pa4-l {
        padding: 1em;
    }
    h2.recentlist {
        text-align: left !important;
        margin-top: 1px;
        font-size: 20px;
    }
    #navigation-bottom {
        padding: 0 0 0 1rem;
    }

    .copyright {
        font-size: 12px;
        text-transform: uppercase;
        padding: 0 0 3rem 1rem;
    }
    #body-inner {
        margin-bottom: 0;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    h1 {
        font-size: 2em;
    }
    h2 {
        font-size: 1.5rem;
        line-height: 110% !important;
        margin: 2.5rem 0 1.5rem 0;
    }

    h3 {
        font-size: 1.3rem;
        line-height: 110% !important;
        margin: 2rem 0 1rem 0;
    }
}

/* ==================================================
   Responsive Media Queries - Mobiles
================================================== */

@media only screen and (max-device-width: 480px) and (orientation:portrait) {
    #toc-field {
        display: none;
    }
    #body .padding {
        padding: 0 0 0;
    }
    .pa4-l {
        padding: 1em;
    }
    h2.recentlist {
        text-align: left !important;
        margin-top: 1px;
        font-size: 20px;
    }
    #navigation-bottom {
        padding: 0 0 0 1rem;
    }

    .copyright {
        font-size: 12px;
        text-transform: uppercase;
        padding: 0 0 3rem 1rem;
    }
    #body-inner {
        margin-bottom: 0;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    h1 {
        font-size: 2em;
    }
    h2 {
        font-size: 1.5rem;
        line-height: 110% !important;
        margin: 2.5rem 0 1.5rem 0;
    }

    h3 {
        font-size: 1.3rem;
        line-height: 110% !important;
        margin: 2rem 0 1rem 0;
    }
}

/* ==================================================
   Responsive Media Queries - Mobiles - Landscape
================================================== */

@media only screen and (max-device-width: 480px) and (orientation:landscape) {
    #toc-field {
        display: none;
    }
    #body .padding {
        padding: 0 0 0;
    }
    .pa4-l {
        padding: 1em;
    }
    h2.recentlist {
        text-align: left !important;
        margin-top: 1px;
        font-size: 20px;
    }
    #navigation-bottom {
        padding: 0 0 0 1rem;
    }

    .copyright {
        font-size: 12px;
        text-transform: uppercase;
        padding: 0 0 3rem 1rem;
    }
    #body-inner {
        margin-bottom: 0;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    h1 {
        font-size: 2em;
    }
    h2 {
        font-size: 1.5rem;
        line-height: 110% !important;
        margin: 2.5rem 0 1.5rem 0;
    }

    h3 {
        font-size: 1.3rem;
        line-height: 110% !important;
        margin: 2rem 0 1rem 0;
    }
}


