        {{ if .Params.chapter }}
            </div> <!-- end chapter-->
        {{ end }}
        </div>
      </div>



      <div id="navigation-bottom">
        <!-- Next prev page -->
        {{ $currentNode := . }}

        {{ template "menu-nextprev" dict "menu" .Site.Home "currentnode" $currentNode }}

        {{ define "menu-nextprev" }}
            {{$currentNode := .currentnode }}
            {{ if ne .menu.Params.hidden true}}
                {{if hasPrefix $currentNode.RelPermalink .menu.RelPermalink }}
                    {{ $currentNode.Scratch.Set "NextPageOK" "OK" }}
                    {{ $currentNode.Scratch.Set "prevPage" ($currentNode.Scratch.Get "prevPageTmp") }}
                {{else}}
                    {{if eq ($currentNode.Scratch.Get "NextPageOK") "OK"}}
                        {{ $currentNode.Scratch.Set "NextPageOK" nil }}
                        {{ $currentNode.Scratch.Set "nextPage" .menu }}
                    {{end}}
                {{end}}
                {{ $currentNode.Scratch.Set "prevPageTmp" .menu }}

                    {{ $currentNode.Scratch.Set "pages" .menu.Pages }}
                    {{ if .menu.IsHome}}
                        {{ $currentNode.Scratch.Set "pages" .menu.Sections }}
                    {{ else if .menu.Sections}}
                        {{ $currentNode.Scratch.Set "pages" (.menu.Pages | union .menu.Sections) }}
                    {{end}}
                    {{ $pages := ($currentNode.Scratch.Get "pages") }}

                    {{ range $pages.ByWeight  }}
                        {{ template "menu-nextprev" dict "menu" . "currentnode" $currentNode }}
                    {{end}}
            {{ end }}
        {{ end }}


   {{$showPrevNext := (and (not .Params.disableNextPrev) (not .Site.Params.disableNextPrev))}}


   {{if $showPrevNext}}
   {{ if and (ne .Kind "taxonomy") (ne .Kind "term") }}
    {{with ($.Scratch.Get "prevPage")}}
      <a class="readme-a margin-right-5 margin-bottom-2 inline-flex relative no-highlight" href="{{.RelPermalink}}" title="{{.Title}}">
        <div class="w-100 h-100 readmore-btn transition-transform hover:translate-x-2 hover:translate-y-2">
          <i class="fa fa-chevron-left btn-bottom-prev"></i>
          <span class="btn-bottom-text"></span> {{.Title}}
        </div>
        <div class="absolute w-100 h-100 top-2 left-2 to-beta from-alpha via-alpha btn-gradient-background"></div>
      </a>
    {{end}}
    {{with ($.Scratch.Get "nextPage")}}
      <a class="readme-a inline-flex relative no-highlight" href="{{.RelPermalink}}" title="{{.Title}}" style="margin-right: 0px;">
        <div class="w-100 h-100 readmore-btn transition-transform hover:translate-x-2 hover:translate-y-2">
          <i class="fa fa-chevron-right btn-bottom-next"></i>
          <span class="btn-bottom-text"></span> {{.Title}}
        </div>
        <div class="absolute w-100 h-100 top-2 left-2 to-beta from-alpha via-alpha btn-gradient-background"></div>
      </a>
    {{end}}
    {{end}}
  {{end}}
    </div>


    {{ if .Site.Copyright }}
    <div class="copyright">
      <p>{{ $.Param "copyright" | default (i18n "Copyright") }} &copy; {{ with .Site.Params.yaub.copyrightstart }} {{ . }}{{ end }} - {{ dateFormat "2006" now }} {{ .Site.Copyright }}</p>
    </div>
    {{ end }}
    </main>

<!-- READING PROGRESS BAR -->
<script>
(function(){
    document.addEventListener('DOMContentLoaded', function() {
        var progressBar = document.querySelector('.read-progress');
        if (!progressBar) return;
        
        // Add the animation class
        progressBar.classList.add('position-fixed');
        
        function updateProgress() {
            var scrollTop = window.scrollY || document.documentElement.scrollTop;
            var docHeight = document.documentElement.scrollHeight - window.innerHeight;
            
            if (docHeight > 0) {
                var progress = Math.min((scrollTop / docHeight) * 100, 100);
                progressBar.style.width = progress + '%';
            }
        }
        
        // Throttle scroll events for better performance
        var ticking = false;
        window.addEventListener('scroll', function() {
            if (!ticking) {
                window.requestAnimationFrame(function() {
                    updateProgress();
                    ticking = false;
                });
                ticking = true;
            }
        }, { passive: true });
        
        // Initial call and resize handler
        updateProgress();
        window.addEventListener('resize', updateProgress, { passive: true });
    });
})();
</script>

    <div style="left: -1000px; overflow: scroll; position: absolute; top: -1000px; border: none; box-sizing: content-box; height: 200px; margin: 0px; padding: 0px; width: 200px;">
      <div style="border: none; box-sizing: content-box; height: 200px; margin: 0px; padding: 0px; width: 200px;"></div>
    </div>
    <script src="{{"js/clipboard.min.js" | relURL}}{{ if not .Site.Params.disableAssetsBusting }}?{{ now.Unix }}{{ end }}"></script>
    <script src="{{"js/perfect-scrollbar.jquery.min.js" | relURL}}{{ if not .Site.Params.disableAssetsBusting }}?{{ now.Unix }}{{ end }}"></script>
    <script src="{{"js/featherlight.min.js" | relURL}}{{ if not .Site.Params.disableAssetsBusting }}?{{ now.Unix }}{{ end }}"></script>
    
    <!-- WebP image upgrade for better performance (works with AsciiDoc) -->
    <script src="{{"js/webp-upgrade.js" | relURL}}{{ if not .Site.Params.disableAssetsBusting }}?{{ now.Unix }}{{ end }}"></script>
    <script src="{{"js/highlight.min.js" | relURL}}{{ if not .Site.Params.disableAssetsBusting }}?{{ now.Unix }}{{ end }}"></script>
    <script>
      // Plugin to preserve AsciiDoc callout (conum) elements during highlighting
      // AsciiDoc generates: <i class="conum" data-value="1"></i><b>(1)</b>
      // Both elements need to be preserved and restored after highlighting
      (function() {
        var conumPlaceholder = 'HLJS_CONUM_';
        var conumStore = {};
        var conumCounter = 0;
        
        // Register plugin with highlight.js
        hljs.addPlugin({
          'before:highlightElement': function(context) {
            var el = context.el;
            var conums = el.querySelectorAll('.conum[data-value]');
            
            conums.forEach(function(conum) {
              var id = conumPlaceholder + (conumCounter++);
              // Store the conum HTML and any following <b> sibling
              var html = conum.outerHTML;
              var nextSibling = conum.nextSibling;
              
              // Check if next sibling is a <b> element (AsciiDoc fallback text)
              if (nextSibling && nextSibling.nodeType === 1 && nextSibling.tagName === 'B') {
                html += nextSibling.outerHTML;
                nextSibling.parentNode.removeChild(nextSibling);
              }
              
              conumStore[id] = html;
              // Replace conum with text placeholder
              var placeholder = document.createTextNode(id);
              conum.parentNode.replaceChild(placeholder, conum);
            });
          },
          'after:highlightElement': function(context) {
            var el = context.el;
            var html = el.innerHTML;
            
            // Replace all placeholders with original conum HTML
            Object.keys(conumStore).forEach(function(id) {
              // Use split/join for safer replacement (no regex special char issues)
              html = html.split(id).join(conumStore[id]);
            });
            el.innerHTML = html;
          }
        });
        
        // Configure highlight.js
        hljs.configure({
          ignoreUnescapedHTML: true
        });
        
        // Run highlighting
        hljs.highlightAll();
        
        // Clear store
        conumStore = {};
        conumCounter = 0;
      })();
    </script>
    <!-- Modernizr removed - replaced with inline JS in header.html -->
    <script src="{{"js/learn.js" | relURL}}{{ if not .Site.Params.disableAssetsBusting }}?{{ now.Unix }}{{ end }}"></script>
    <script src="{{"js/yaub.js" | relURL}}{{ if not .Site.Params.disableAssetsBusting }}?{{ now.Unix }}{{ end }}"></script>
    <script src="{{"js/reader-mode.js" | relURL}}{{ if not .Site.Params.disableAssetsBusting }}?{{ now.Unix }}{{ end }}"></script>
    
    <!-- Search Modal (Cmd/Ctrl+K) -->
    <link href="/pagefind/pagefind-ui.css" rel="stylesheet">
    <script src="/pagefind/pagefind-ui.js"></script>
    <script src="{{"js/search-modal.js" | relURL}}{{ if not .Site.Params.disableAssetsBusting }}?{{ now.Unix }}{{ end }}"></script>
    
    <!-- Keyboard Shortcuts Help Modal (?) -->
    <script src="{{"js/shortcuts-modal.js" | relURL}}{{ if not .Site.Params.disableAssetsBusting }}?{{ now.Unix }}{{ end }}"></script>
    <script>
        function topFunction() {
          document.body.scrollTop = 0; // For Safari
          document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
        }

        $(".article-box").click(function(event) {
//            window.location = $(this).find("a").attr("href");
            window.location = $(this).attr('href');
            // stopPropagation is required, since there are multiple links inside the DIV
            event.stopPropagation();
            return false;
            



          });
    </script>

    {{ if (or (and (ne .Params.disableMermaid nil) (not .Params.disableMermaid)) (not .Site.Params.disableMermaid)) }}
        <!-- JS-YAML for mermaid frontmatter parsing -->
        <script src="{{"js/js-yaml/js-yaml.min.js" | relURL}}{{ if not .Site.Params.disableAssetsBusting }}?{{ now.Unix }}{{ end }}"></script>
        
        <!-- D3 libraries for Mermaid zoom functionality -->
        <script src="{{"js/d3/d3-color.min.js" | relURL}}{{ if not .Site.Params.disableAssetsBusting }}?{{ now.Unix }}{{ end }}"></script>
        <script src="{{"js/d3/d3-dispatch.min.js" | relURL}}{{ if not .Site.Params.disableAssetsBusting }}?{{ now.Unix }}{{ end }}"></script>
        <script src="{{"js/d3/d3-drag.min.js" | relURL}}{{ if not .Site.Params.disableAssetsBusting }}?{{ now.Unix }}{{ end }}"></script>
        <script src="{{"js/d3/d3-ease.min.js" | relURL}}{{ if not .Site.Params.disableAssetsBusting }}?{{ now.Unix }}{{ end }}"></script>
        <script src="{{"js/d3/d3-interpolate.min.js" | relURL}}{{ if not .Site.Params.disableAssetsBusting }}?{{ now.Unix }}{{ end }}"></script>
        <script src="{{"js/d3/d3-selection.min.js" | relURL}}{{ if not .Site.Params.disableAssetsBusting }}?{{ now.Unix }}{{ end }}"></script>
        <script src="{{"js/d3/d3-timer.min.js" | relURL}}{{ if not .Site.Params.disableAssetsBusting }}?{{ now.Unix }}{{ end }}"></script>
        <script src="{{"js/d3/d3-transition.min.js" | relURL}}{{ if not .Site.Params.disableAssetsBusting }}?{{ now.Unix }}{{ end }}"></script>
        <script src="{{"js/d3/d3-zoom.min.js" | relURL}}{{ if not .Site.Params.disableAssetsBusting }}?{{ now.Unix }}{{ end }}"></script>
        
        {{ if isset .Params "customMermaidURL" }}
            <script src="{{ .Params.customMermaidURL }}"></script>
        {{ else if isset .Site.Params "customMermaidURL" }}
            <script src="{{ .Site.Params.customMermaidURL }}"></script>
        {{ else }}
            <script src="{{"mermaid/mermaid.js" | relURL}}{{ if not .Site.Params.disableAssetsBusting }}?{{ now.Unix }}{{ end }}"></script>
        {{ end }}
        <script>
            // Initialize window.relearn for zoom functionality
            window.relearn = window.relearn || {};
            window.relearn.themeUseMermaid = true;
            window.relearn.mermaidConfig = { securityLevel: 'loose' };
            
            // Translation strings for mermaid zoom
            window.T_Reset_view = 'Reset view';
            window.T_View_reset = 'View reset';
            
            // Toast notification function (simple fallback)
            window.showToast = window.showToast || function(msg) {
                console.log('Toast:', msg);
            };
            
            // Initialize mermaid with cross-browser compatible settings
            if (typeof mermaid !== 'undefined') {
                mermaid.initialize({ 
                    startOnLoad: false,  // We'll manually trigger it
                    securityLevel: 'loose',  // Firefox/Safari compatible
                    theme: 'default'
                });
            }
        </script>
    {{ end }}

    {{ partial "keyboard-hints.html" . }}
    {{ partial "custom-footer.html" . }}

    {{/* Right Navigation Sidebar - only on homepage */}}
    {{ if and .IsHome .Site.Params.enableRightSidebar }}
    <nav id="right-sidebar" class="right-nav-sidebar" aria-label="Archive and Updates">
        {{ partial "sidebar-widgets.html" . }}
    </nav>
    {{ end }}
  </body>
</html>
