<nav id="sidebar">
{{ $currentNode := . }}
  <div id="header-wrapper">
  <!-- Sidebar Toggle Button -->
  <button id="sidebar-toggle-btn" class="sidebar-toggle-btn" title="Toggle Sidebar" aria-label="Toggle Sidebar">
    <svg class="sidebar-toggle-icon" viewBox="0 0 32 32">
      <path d="M22 31a.997.997 0 0 1-.707-.293L7.647 17.061a1.501 1.501 0 0 1 0-2.122L21.293 1.293a1 1 0 1 1 1.414 1.414L9.414 16l13.293 13.293A1 1 0 0 1 22 31Z"></path>
    </svg> 
  </button>

  <div id="header">
      {{ partial "logo.html" . }}
    </div>
  </div>

  {{/* Search button that opens the search modal - placed after logo/header */}}
  {{if not .Site.Params.disableSearch}}
  <div id="sidebar-search">
      <button class="sidebar-search-btn" onclick="window.SearchModal && window.SearchModal.open()" title="Search" aria-label="Open search">
          <i class="fas fa-search"></i>
          <span class="sidebar-search-text">Search...</span>
          <kbd class="sidebar-search-kbd"><span class="kbd-mac">⌘K</span><span class="kbd-other">Ctrl+K</span></kbd>
      </button>
  </div>
  {{end}}
    
  {{/* 
  ==========================================================================
  OLD SIDEBAR SEARCH FIELD - DISABLED
  The search modal (Cmd/Ctrl+K) is now the primary search experience.
  To re-enable the old sidebar search dropdown, uncomment the block below
  and comment out the sidebar-search-btn above.
  ==========================================================================
  
  {{if not .Site.Params.disableSearch}}
      {{/* Search options - uncomment ONE of the following:
           - search.html              = Original Lunr.js search (dropdown)
           - search-pagefind.html     = Pagefind dropdown in sidebar
           - search-pagefind-redirect.html = Pagefind with dedicated search page
      *}}
      {{ partial "search-pagefind-redirect.html" . }}
  {{end}}
  
  */}}

  <!--
  <div class="togglemode">
    <button id="dark-mode-toggle" class="btn-toggle btn-default btn">Toggle Dark-Mode</button>
  </div>
  -->

  <!-- Homepage link on sidebar is disabled -->
  <!--
  {{if not .Site.Params.disableLandingPageButton }}
    <section id="homelinks">
      <ul>
        <li>
            <a class="padding" href='{{ (cond (and (ne .Site.Params.landingPageURL nil) (.Site.IsMultiLingual)) .Site.Params.landingPageURL "/") }}'>{{ safeHTML (cond (ne .Site.Params.landingPageName nil) .Site.Params.landingPageName "<i class='fas fa-home'></i> Home") }}</a>
        </li>
      </ul>
    </section>
  {{end}}
  -->

    <div class="highlightable">
    <ul class="topics">

        {{if eq .Site.Params.ordersectionsby "title"}}
          {{range .Site.Home.Sections.ByTitle}}
          {{ template "section-tree-nav" dict "sect" . "currentnode" $currentNode }}
          {{end}}
        {{else}}
          {{range .Site.Home.Sections.ByWeight}}
          {{ template "section-tree-nav" dict "sect" . "currentnode" $currentNode }}
          {{end}}
        {{end}}
    </ul>

    <!-- Shortcuts moved to top navigation bar -->
    <!-- {{ $disableShortcutsTitle := .Site.Params.DisableShortcutsTitle}}
    {{with .Site.Menus.shortcuts}}
      <section id="shortcuts">
        <h3 class="shortcut-title">{{ if not $disableShortcutsTitle}}{{ T "Shortcuts-Title"}}{{ end }}</h3>
        <ul>
          {{ range sort . "Weight"}}
              <li>
                  {{.Pre}}<a class="padding" href="{{.URL | absLangURL }}">{{safeHTML .Name}}</a>{{.Post}}
              </li>
          {{end}}
        </ul>
      </section>
    {{end}}
    -->
    <!-- Shortcuts moved to top navigation bar -->

    <!-- Saved Articles / Bookmarks -->
    {{ partial "bookmarks-list.html" . }}

    {{ if hugo.IsMultilingual }}
    <section id="prefooter">
      <hr/>
      <ul>
      {{ if not .Site.Params.DisableLanguageSwitchingButton }}
        <li>
          <a class="padding">
            <i class="fas fa-language fa-fw"></i>
          <div class="select-style">
            <select id="select-language" onchange="location = this.value;">
          {{ $siteLanguages := .Site.Languages}}
          {{ $pageLang := .Page.Lang}}
          {{ range .Page.AllTranslations }}
              {{ $translation := .}}
              {{ range $siteLanguages }}
                  {{ if eq $translation.Lang .Lang }}
                    {{ $selected := false }}
                    {{ if eq $pageLang .Lang}}
                      <option id="{{ $translation.Language }}" value="{{ $translation.Permalink }}" selected>{{ .LanguageName }}</option>
                    {{ else }}
                      <option id="{{ $translation.Language }}" value="{{ $translation.Permalink }}">{{ .LanguageName }}</option>
                    {{ end }}
                  {{ end }}
              {{ end }}
          {{ end }}
        </select>
        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          width="255px" height="255px" viewBox="0 0 255 255" style="enable-background:new 0 0 255 255;" xml:space="preserve">
          <g>
            <g id="arrow-drop-down">
              <polygon points="0,63.75 127.5,191.25 255,63.75 		" />
            </g>
          </g>
        </svg>
        </div>
        </a>
        </li>
      {{end}}
      </ul>
    </section>
    {{ end }}
    <section id="footer">
    </section>
  </div>
  {{/* Statistics fixed at bottom of sidebar */}}
  {{ partial "menu-footer.html" . }}
</nav>

<!-- templates -->
{{ define "section-tree-nav" }}
{{ $currentNode := .currentnode }}
{{ $currentFileUniqueID := "" }}
{{ with $currentNode.File }}{{ $currentFileUniqueID = .UniqueID }}{{ end }}
 {{with .sect}}
  {{if and .IsSection (or (not .Params.hidden) $.showhidden)}}
    {{safeHTML .Params.head}}
    <li data-nav-id="{{.RelPermalink}}" title="{{.Title}}" class="dd-item
        {{if .IsAncestor $currentNode }}parent{{end}}
        {{if eq .File.UniqueID $currentFileUniqueID}}active{{end}}
        {{if .Params.alwaysopen}}parent{{end}}
        {{if .Params.divider_before}}divider-before{{end}}
        ">
      {{ $numberOfPages := (add (len ( where .Pages "Params.hidden" "ne" true )) (len ( where .Sections "Params.hidden" "ne" true ))) }}
      <a href="{{.RelPermalink}}" class="{{ if ne $numberOfPages 0 }}has-children{{ end }}">
          <span class="menu-title">{{safeHTML .Params.Pre}}{{or .Params.menuTitle .LinkTitle .Title}}{{safeHTML .Params.Post}}</span>
          {{ if ne $numberOfPages 0 }}
          <i class="fas fa-chevron-right menu-chevron"></i>
          {{ end }}
      </a>
      {{ if ne $numberOfPages 0 }}
        <ul>
          {{ $currentNode.Scratch.Set "pages" .Pages }}
          {{ if .Sections}}
            {{ $currentNode.Scratch.Set "pages" (.Pages | union .Sections) }}
          {{end}}
          {{ $pages := ($currentNode.Scratch.Get "pages") }}

        {{if eq .Site.Params.ordersectionsby "title"}}
          {{ range $pages.ByTitle }}
            {{ if and .Params.hidden (not $.showhidden) }}
            {{else}}
            {{ template "section-tree-nav" dict "sect" . "currentnode" $currentNode }}
            {{end}}
          {{ end }}
        {{else}}
          {{/* Separate series pages from non-series pages */}}
          {{ $seriesPages := where $pages "Params.series" "!=" nil }}
          {{ $nonSeriesPages := where $pages "Params.series" nil }}
          
          {{/* Sort series pages by series_part (ascending = oldest first) */}}
          {{ $sortedSeriesPages := sort $seriesPages "Params.series_part" "asc" }}
          
          {{/* Sort non-series pages by weight (default behavior) */}}
          {{ $sortedNonSeriesPages := $nonSeriesPages.ByWeight }}
          
          {{/* Combine: non-series first (by weight), then series (by part) */}}
          {{ range $sortedNonSeriesPages }}
            {{ if and .Params.hidden (not $.showhidden) }}
            {{else}}
            {{ template "section-tree-nav" dict "sect" . "currentnode" $currentNode }}
            {{end}}
          {{ end }}
          {{ range $sortedSeriesPages }}
            {{ if and .Params.hidden (not $.showhidden) }}
            {{else}}
            {{ template "section-tree-nav" dict "sect" . "currentnode" $currentNode }}
            {{end}}
          {{ end }}
        {{end}}
        </ul>
      {{ end }}
    </li>
  {{else}}
    {{ if not .Params.Hidden }}
      <li data-nav-id="{{.RelPermalink}}" title="{{.Title}}" class="dd-item {{if eq .File.UniqueID $currentFileUniqueID}}active{{end}}">
        <a href="{{ .RelPermalink}}">
        {{safeHTML .Params.Pre}}{{or .Params.menuTitle .LinkTitle .Title}}{{safeHTML .Params.Post}}
        </a>
    </li>
     {{ end }}
  {{end}}
 {{ end }}
{{ end }}
