{{ $featured_image := partial "func/GetFeaturedImage.html" . }}
<article class="bb b--black-10">
  <div class="article-box db pv4 ph3 ph0-l no-underline dark-gray" href="{{.RelPermalink}}">
    <div class="flex flex-column flex-row-ns">
      {{ if $featured_image }}
      {{ if .Params.show_featured_image_summary }}
          {{/* Trimming the slash and adding absURL make sure the image works no matter where our site lives */}}
        {{ $featured_image := (trim $featured_image "/") | absURL }}
        <div class="pr3-ns mb4 mb0-ns w-100 w-40-ns">
          <a href="{{.RelPermalink}}">
            <img src="{{ $featured_image }}" class="img" alt="image from {{ .Title }}">
          </a>
        </div>
      {{ end }}
      {{ end }}
      
      <div class="w-100{{ if $featured_image }} w-60-ns pl3-ns{{ end }}">

        {{ if .Params.categories }}
        <div class="catagories">    
          {{range .Params.categories}}
              <a id="{{ "category-" }}{{ . | urlize }}-{{ $.Title | urlize }}" class="category-link no-highlight" href="{{ "/categories/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
            {{end}}
        </div>
        {{end}}

        
        <h2 class="recentlist">
          <a href="{{.RelPermalink}}" class="recentlist">
            <em class="gradient-header post-header">{{ .Title }}</em>
          </a>
        </h2>
         
        <div class="articleinfo">
          <time class="f6 mv4 dib tracked" {{ printf `datetime="%s"` (.Date.Format "2006-01-02T15:04:05Z07:00") | safeHTMLAttr }}>
            <strong>{{- .Date.Format "January 2, 2006" -}}</strong>
          </time>

          <span class="divider">
          -
          </span>

          <span class="author">
          {{ range .Param "authors" }}
          {{ $name := . }}
          {{ $path := printf "/%s/%s" "authors" ($name | urlize) }}
          {{ with $.Site.GetPage $path }}
            <a href="{{ "/authors/" | relLangURL }}{{ .Params.name  | urlize }}">
            <img class="avatar" src="/img{{ $path }}.png" alt="{{ .Params.name }}"/> 
            {{ .Params.name }}
            </a>
          {{ end }}
          {{ end }}

        <!-- old 
        {{ with .Params.author }}
          By: 
          {{ if reflect.IsSlice . }}
            {{ delimit . ", " | markdownify }}
          {{else}}
            {{ . | markdownify }}
          {{ end }}
        {{ end }}
        -->

          ( {{ $.Param "Lastmodification" | default (i18n "Lastmodification") }} {{.Page.Lastmod.Format "2006-01-02"}} ) 
          </span>

          <span class="divider">
            -
          </span>

          <span class="readtime"><strong>{{ if lt (math.Round (div (countwords .Content) 250.0)) 1 }}1{{ else }}{{ (math.Round (div (countwords .Content) 250.0)) }}{{ end }} min read</strong></span>
        </div>
        <div class="f6 f5-l lh-copy nested-copy-line-height nested-links">
          {{ .Summary }}
        </div>
          <a href="{{.RelPermalink}}" class="readme-a inline-flex relative no-highlight">
            <div class="w-100 h-100 readmore-btn transition-transform hover:translate-x-2 hover:translate-y-2">
              {{ $.Param "read_more_copy" | default (i18n "readMore") }} 
              <i class="fas fa-angle-double-right"></i>
            </div>
            <div class="absolute w-100 h-100 top-2 left-2 to-beta from-alpha via-alpha btn-gradient-background">
            </div>
          </a>
      </div>
    </div>
  </div>
</article>
