{{ $featured_image := partial "func/GetFeaturedImage.html" . }}
<article class="bb b--black-10 scroll-reveal">
  <div class="article-box db pv4 ph3 ph0-l no-underline dark-gray" href="{{.RelPermalink}}">
    <div class="flex flex-column">


      {{/* Article info below */}}
      <div class="w-100">

        {{/* Featured image on top */}}
        {{ if $featured_image.src }}
        {{ if .Params.show_featured_image_summary }}
            {{/* Trimming the slash and adding absURL make sure the image works no matter where our site lives */}}
          {{ $imgSrc := (trim $featured_image.src "/") | absURL }}
          {{ $webpSrc := "" }}
          {{ if $featured_image.webp }}
            {{ $webpSrc = (trim $featured_image.webp "/") | absURL }}
          {{ end }}
          <div class="mb3 w-100 article-card-image">
            <a href="{{.RelPermalink}}">
              {{/* Add width/height and aspect-ratio for CLS prevention */}}
              {{ if $webpSrc }}
              <picture>
                <source srcset="{{ $webpSrc }}" type="image/webp">
                <img src="{{ $imgSrc }}" class="img recentlist" alt="image from {{ .Title }}" loading="lazy" decoding="async" width="640" height="360" style="aspect-ratio:16/9;object-fit:cover;width:100%;">
              </picture>
              {{ else }}
              <img src="{{ $imgSrc }}" class="img recentlist" alt="image from {{ .Title }}" loading="lazy" decoding="async" width="640" height="360" style="aspect-ratio:16/9;object-fit:cover;width:100%;">
              {{ end }}
            </a>
          </div>
        {{ end }}
        {{ end }}


        {{ if .Params.categories }}
        <div class="categories">    
          {{range .Params.categories}}
              <a id="{{ "category-" }}{{ . | urlize }}-{{ $.Title | urlize }}" class="category-link no-highlight {{ . | urlize }}" href="{{ "/categories/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
            {{end}}
        </div>
        {{end}}

        
        <h2 class="recentlist recentlist-with-image">
          <a href="{{.RelPermalink}}" class="recentlist">
            <em class="gradient-header post-header">{{ .Title }}</em>
          </a>
        </h2>
         
        <div class="articleinfo">
          <span class="publish-date summary-date" {{ printf `datetime="%s"` (.Date.Format "2006-01-02T15:04:05Z07:00") | safeHTMLAttr }}>
            <strong>{{- .Date.Format "January 2, 2006" -}}</strong>
          </span>

          <span class="divider"> </span>

          <span class="author-info">
          {{ range .Param "authors" }}
          {{ $name := . }}
          {{ $path := printf "/%s/%s" "authors" ($name | urlize) }}
          {{ with $.Site.GetPage $path }}
            <a href="{{ "/authors/" | relLangURL }}{{ .Params.name  | urlize }}" class="author-link">
            <img class="avatar" src="/img{{ $path }}.png" alt="{{ .Params.name }}" width="35" height="35"/> 
            {{ .Params.name }}
            </a>
          {{ end }}
          {{ end }}
          </span>

          <span class="divider"> </span>

          {{- $wordCount := countwords .Content -}}
          {{- $readingTime := math.Round (div $wordCount 200.0) -}}
          {{- if lt $readingTime 1 }}{{ $readingTime = 1 }}{{ end -}}
          <span class="readtime summary-readtime" title="Estimated reading time">
            <i class="far fa-clock"></i> {{ $readingTime }} min read
          </span>
        </div>
        <div class="f6 f5-l lh-copy nested-copy-line-height nested-links">
          {{ .Summary }}
        </div>
          <a href="{{.RelPermalink}}" class="readme-a inline-flex relative no-highlight">
            <div class="w-100 h-100 readmore-btn transition-transform hover:translate-x-2 hover:translate-y-2">
              {{ $.Param "read_more_copy" | default (i18n "readMore") }} 
              <i class="fas fa-angle-double-right"></i>
            </div>
            <div class="absolute w-100 h-100 top-2 left-2 to-beta from-alpha via-alpha btn-gradient-background">
            </div>
          </a>
      </div>
    </div>
  </div>
</article>
