          <!-- TOP NAVIGATION BAR -->
          <header>
            <div id="top-nav" class="margin-bottom-15">
              {{if not .Site.Params.disableLandingPageButton }}
              <section id="homelinks" class="text-align-center">
                <ul class="list-no-style margin-0 padding-0 overflow-hidden text-align-left vertical-align-middle">
                  <li class="list-horizontal padding-left-15 padding-right-15">
                    <a class="padding-topnav" href='{{ (cond (and (ne .Site.Params.landingPageURL nil) (.Site.IsMultiLingual)) .Site.Params.landingPageURL "/") }}'>{{ safeHTML (cond (ne .Site.Params.landingPageName nil) .Site.Params.landingPageName "<i class='fas fa-home'></i> Home") }}</a>
                  </li>

                {{ $disableShortcutsTitle := .Site.Params.DisableShortcutsTitle}}
                {{with .Site.Menus.shortcuts}}
                  {{ range sort . "Weight"}}

{{if .HasChildren}}
<li class="dropdown list-horizontal {{ .Params.class }} padding-left-15 padding-right-15">
  <div class="submenu left static inline-block">
    {{.Pre}}<a class="padding-topnav" href="{{.URL | absLangURL }}">{{safeHTML .Name}}{{.Post}}</a>

    <div class="absolute submenu-div">
      {{ range sort .Children "Weight" }}
        <a href="{{ .URL }}" class="submenu-style submenu-link display-block"><i class='{{ .Pre }}'></i>{{default .Name}}</a>
      {{ end }}
    </div>
  </div>
</li>

{{else}}

                      <li class="list-horizontal {{ .Params.class }} padding-left-15 padding-right-15">
                          {{.Pre}}<a class="padding-topnav" href="{{.URL | absLangURL }}">{{safeHTML .Name}}</a>{{.Post}}
                      </li>

{{end}}
                  {{end}}
                {{end}}

                </ul>
              </section>

            {{end}}




        <div class="sub-top-nav">

           {{$toc := (and (not .Params.disableToc) (not .Params.chapter))}}
            <div id="breadcrumbs" class="display-inline float-unset" itemscope="" itemtype="http://schema.org/BreadcrumbList">
                <span id="sidebar-toggle-span">
                    <a href="#" id="sidebar-toggle" data-sidebar-toggle="">
                      <i class="fas fa-bars">&nbsp;navi</i>
                    </a>
                </span>
              {{ if $toc }}
                <span id="toc-menu"><i class="fas fa-list-alt"><span class="hidden-toc"> navigation</span></i></span>
              {{ end }}
              <span class="links">
              {{$showBreadcrumb := (and (not .Params.disableBreadcrumb) (not .Site.Params.disableBreadcrumb))}}
              {{if $showBreadcrumb}}
                 {{ .Scratch.Set "depth" 1 }}
                 {{ template "computeBreadcrumbDepth" dict "origPage" . "page" . }}
                 {{ template "breadcrumb" dict "origPage" . "page" . "value" .Title "position" 1 }}
              {{ else }}
                 {{ .Title }}
              {{ end }}
              </span>
            </div>
            {{ if $toc }}
              {{ partial "toc.html" . }}
            {{ end }}

            {{ $title := .Title }}
            {{ $url := printf "%s" .Permalink | absLangURL }}
            {{ $body := print $title ", by " .Site.Title "\n" .Params.description "\n\n" $url "\n" }}
            <div class="social">
                  {{ if .Site.Params.social.share.facebook }}
              <a href="http://www.facebook.com/sharer.php?u={{ $url }}" class="facebook no-highlight" aria-label="share on Facebook">
                <div class="resp-sharing-button resp-sharing-button--facebook resp-sharing-button--small">
                  <div aria-hidden="true" class="resp-sharing-button__icon resp-sharing-button__icon--solid">
                    {{ partial "svg/facebook.svg" (dict "size" "32px") }}
                  </div>
                </div>
              </a>
                  {{ end }}
            
                  <!-- Twitter -->
                  {{ if .Site.Params.social.share.twitter }}
              <a href="https://twitter.com/intent/tweet?hashtags=codingnconcepts&amp;url={{ .Permalink }}&amp;text={{ .Title }}" class="twitter no-highlight" aria-label="share on Twitter">
                <div class="resp-sharing-button resp-sharing-button--twitter resp-sharing-button--small">
                  <div aria-hidden="true" class="resp-sharing-button__icon resp-sharing-button__icon--solid">
                    {{ partial "svg/twitter.svg" (dict "size" "32px") }}
                  </div>
                </div>
              </a>
                  {{ end }}
            
            
                  <!-- LinkedIn -->
                  {{ if .Site.Params.social.share.linkedin }}
              <a href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{ $url }}&amp;source={{ $url }}&amp;title={{ $title }}&amp;summary={{ $title }}" class="linkedin no-highlight" aria-label="share on Linkedin">
                <div class="resp-sharing-button resp-sharing-button--linkedin resp-sharing-button--small">
                  <div aria-hidden="true" class="resp-sharing-button__icon resp-sharing-button__icon--solid">
                    {{ partial "svg/linkedin.svg" (dict "size" "32px") }}
                  </div>
                </div>
              </a>
                  {{ end }}
            
                  <!-- WhatsApp -->
                  {{ if .Site.Params.social.share.whatsapp }}
              <a href="whatsapp://send?text={{ $body }}" class="whatsapp  no-highlight" aria-label="share on Whatsapp">
                <div class="resp-sharing-button resp-sharing-button--whatsapp resp-sharing-button--small">
                  <div aria-hidden="true" class="resp-sharing-button__icon resp-sharing-button__icon--solid">
                    {{ partial "svg/whatsapp.svg" (dict "size" "32px") }}
                  </div>
                </div>
              </a>
                  {{ end }}
            
                  <!-- Email -->
                  {{ if .Site.Params.social.share.email }}
              <a href="mailto:?subject={{ .Site.Title }} - {{ $title }}.&amp;body={{ $body }}" class="email  no-highlight" aria-label="share on Email">
                <div class="resp-sharing-button resp-sharing-button--email resp-sharing-button--small">
                  <div aria-hidden="true" class="resp-sharing-button__icon resp-sharing-button__icon--solid">
                    {{ partial "svg/email.svg" (dict "size" "32px") }}
                  </div>
                </div>
              </a>
                  {{ end }}

                  <!-- RSS -->
                  {{ if .Site.Params.social.share.rss }}
              <a href="/rss/" class="rss  no-highlight" aria-label="RSS">
                <div class="resp-sharing-button resp-sharing-button--rss resp-sharing-button--small">
                  <div aria-hidden="true" class="resp-sharing-button__icon resp-sharing-button__icon--solid">
                    {{ partial "svg/rss.svg" (dict "size" "32px") }}
                  </div>
                </div>
              </a>
                  {{ end }}



            </div>
            
        </div>



        </div>
          </header>
          <!-- END TOP NAVIGATION BAR -->