:root {

    /* LIGHT THEME COLORS */
    /* removed light theme ... variables are here for backward compat */
    --MAIN-TEXT-color-LIGHT: #dedede;
    --MAIN-BG-color-LIGHT: #303030;
    --MAIN-TITLES-TEXT-color-LIGHT: #dedede; /* Color of titles h2-h3-h4-h5 */
    --MAIN-LINK-color-LIGHT:#a3d0f5; /* Color of links */
    --MAIN-LINK-HOVER-color-LIGHT: #a3d0f5; /* Color of hovered links */
    --MAIN-ANCHOR-color-LIGHT: #a3d0f5; /* color of anchors on titles */
    --H1-color-LIGHT: #fff;
    --TOP-BAR-color-LIGHT: #3b3b3b;
    --TOP-BTN-BG-color-LIGHT: rgba(79,122,164, 1);
    --TOP-BTN-color-LIGHT: #dedede;
    --MENU-SEARCH-BG-color-LIGHT: #595959; /* Search field background color (by default borders + icons) */
    --MENU-VISITED-color-LIGHT: #507aa5; /* Color of 'page visited' icons in menu */
    --MENU-SECTION-HR-color-LIGHT: #2b2020; /* Color of <hr> separator in menu */
    --BUTTON-BG-color-LIGHT: #385B7F;
    --BUTTON-BG-HOVER-color-LIGHT: #004080;
    --BUTTON-BG-ACTIVE-color-LIGHT: #507aa5;
    --TOC-BORDER-color-LIGHT: #d2d2d2;
    --TOC-INACTIVE-color-LIGHT: #dedede;
    --TOC-NEXTPREV-color-LIGHT: #dedede;
    --IMG-SHADOW-color-LIGHT: rgb(222 222 222 / 20%);
    --MENU-TAG-BG-color-LIGHT: #385B7F;
    --CLIPBOARD-BG-HOVER-color-LIGHT: #507aa5;
    --RECENT-POSTS-BG-color-LIGHT: #3b3b3b;
    --ADMONITION-color-LIGHT: rgba(222, 222, 222, 1);
    --ADMONITION-CAUTION-color-LIGHT: #bf3400;
    --ADMONITION-NOTE-color-LIGHT: #507aa5;
    --ADMONITION-TIP-color-LIGHT: #dedede;
    --ADMONITION-IMPORTANT-color-LIGHT: #bf0000;
    --ADMONITION-WARNING-color-LIGHT: #bf6900;
    --TH-BG-color-LIGHT: #4f7aa4;
    --CATEGORY-openshift: #9ca3e5;
    --CATEGORY-compliance: #2656af;
    --CATEGORY-mesh: #6d5d58;
    --CATEGORY-security: #5ca830;
    --CATEGORY-gitops: #acd68d;
    --CATEGORY-ansible: #78ba9b;
    --CATEGORY-other: #f7def2;
    --CATEGORY-cicd: #f99461;
    --CATEGORY-acs: #e9e0fc;
    --CATEGORY-font-black: #000;

    /* --MAIN-TEXT-color-LIGHT: #323232;
    --MAIN-BG-color-LIGHT: #fff;
    --MAIN-TITLES-TEXT-color-LIGHT: #5e5e5e;
    --MAIN-LINK-color-LIGHT:#06c;
    --MAIN-LINK-HOVER-color-LIGHT: #06c;
    --MAIN-ANCHOR-color-LIGHT: #06c;
    --H1-color-LIGHT: #222;
    --TOP-BAR-color-LIGHT: #f6f6f6;
    --TOP-BTN-BG-color-LIGHT: rgba(255,255,255, 0.95);
    --TOP-BTN-color-LIGHT: #323232;
    --MENU-SEARCH-BG-color-LIGHT:#fff;
    --MENU-VISITED-color-LIGHT: #06c;
    --MENU-SECTION-HR-color-LIGHT: #2b2020;
    --BUTTON-BG-color-LIGHT: #06c;
    --BUTTON-BG-HOVER-color-LIGHT: #004080;
    --BUTTON-BG-ACTIVE-color-LIGHT: #06c;
    --TOC-BORDER-color-LIGHT: #d2d2d2;
    --TOC-INACTIVE-color-LIGHT: #323232;
    --TOC-NEXTPREV-color-LIGHT: #323232;
    --IMG-SHADOW-color-LIGHT: rgb(0 0 0 / 20%);
    --MENU-TAG-BG-color-LIGHT: #06c;
    --CLIPBOARD-BG-HOVER-color-LIGHT: #06c;
    --RECENT-POSTS-BG-color-LIGHT: #fff;
    --ADMONITION-color-LIGHT: rgba(0, 0, 0, 0.6);
    --ADMONITION-CAUTION-color-LIGHT: #bf3400;
    --ADMONITION-NOTE-color-LIGHT: #19407c;
    --ADMONITION-TIP-color-LIGHT: #111;
    --ADMONITION-IMPORTANT-color-LIGHT: #bf0000;
    --ADMONITION-WARNING-color-LIGHT: #bf6900;
    --TH-BG-color-LIGHT: #4f7aa4; */

    /* DARK THEME COLORS */
    --MAIN-TEXT-color-DARK: #dedede;
    --MAIN-BG-color-DARK: #303030;
    --MAIN-TITLES-TEXT-color-DARK: #dedede; /* Color of titles h2-h3-h4-h5 */
    --MAIN-LINK-color-DARK:#a3d0f5; /* Color of links */
    --MAIN-LINK-HOVER-color-DARK: #a3d0f5; /* Color of hovered links */
    --MAIN-ANCHOR-color-DARK: #a3d0f5; /* color of anchors on titles */
    --H1-color-DARK: #fff;
    --TOP-BAR-color-DARK: #3b3b3b;
    --TOP-BTN-BG-color-DARK: rgba(79,122,164, 1);
    --TOP-BTN-color-DARK: #dedede;
    --MENU-SEARCH-BG-color-DARK: #595959; /* Search field background color (by default borders + icons) */
    --MENU-VISITED-color-DARK: #507aa5; /* Color of 'page visited' icons in menu */
    --MENU-SECTION-HR-color-DARK: #2b2020; /* Color of <hr> separator in menu */
    --BUTTON-BG-color-DARK: #385B7F;
    --BUTTON-BG-HOVER-color-DARK: #004080;
    --BUTTON-BG-ACTIVE-color-DARK: #507aa5;
    --TOC-BORDER-color-DARK: #d2d2d2;
    --TOC-INACTIVE-color-DARK: #dedede;
    --TOC-NEXTPREV-color-DARK: #dedede;
    --IMG-SHADOW-color-DARK: rgb(222 222 222 / 20%);
    --MENU-TAG-BG-color-DARK: #385B7F;
    --CLIPBOARD-BG-HOVER-color-DARK: #507aa5;
    --RECENT-POSTS-BG-color-DARK: #3b3b3b;
    --ADMONITION-color-DARK: rgba(222, 222, 222, 1);
    --ADMONITION-CAUTION-color-DARK: #bf3400;
    --ADMONITION-NOTE-color-DARK: #507aa5;
    --ADMONITION-TIP-color-DARK: #dedede;
    --ADMONITION-IMPORTANT-color-DARK: #bf0000;
    --ADMONITION-WARNING-color-DARK: #bf6900;
    --TH-BG-color-DARK: #4f7aa4;

    /* DEFAULT THEME COLORS */
    --MENU-HOME-LINK-color: #d2d2d2; /* Color of the home button text */
    --MENU-HOME-LINK-HOVER-color: #4f5255; /* Color of the hovered home button text */
    --MENU-HEADER-BG-color:#212427; /* Background color of menu header */
    --MENU-HEADER-BORDER-color:#212427; /*Color of menu header border */
    --MENU-SEARCH-BOX-color: #212427; /* Override search field border color */
    --MENU-SEARCH-BOX-ICONS-color: #ffffff; /* Override search field icons color */
    --MENU-SECTIONS-ACTIVE-BG-color:#212427; /* Background color of the active section and its childs */
    --MENU-SECTIONS-BG-color:#212427; /* Background color of other sections */
    --MENU-SECTIONS-LINK-color: #d2d2d2; /* Color of links in menu */
    --MENU-SECTIONS-LINK-HOVER-color: #fff;  /* Color of links in menu, when hovered */
    --MAIN-SECTION-LINK-HOVER-color-BG-color: #4f7aa4;
    --MENU-SECTIONS-LIST-BORDER-color: #73bcf7;
    --MENU-SECTIONS-LIST-BORDER-HOVER-color: #8a8d90;
    --MENU-SECTION-ACTIVE-CATEGORY-color: #fff; /* Color of active category text */
    --MENU-SECTION-ACTIVE-CATEGORY-BG-color: #4f7aa4; /* Color of background for the active category (only) */
    --BUTTON-BORDER-color: #ccc;
    --BUTTON-color: #fff;
    --BUTTON-BORDER-color: #ccc;
    --INLINE-CODE-BG-color: #e0e0e0;
    --INLINE-CODE-color: #ab2121;
    --CLIPBOARD-color: #fff;
    --CLIPBOARD-BG-color: #000;
    --SHORTCUT-TITLE-color: #cecece;
    --TH-BG-color: #4f7aa4;
}

/* light theme */
body {
    --MAIN-TEXT-color: var(--MAIN-TEXT-color-LIGHT);
    --MAIN-BG-color: var(--MAIN-BG-color-LIGHT);
    --MAIN-TITLES-TEXT-color: var(--MAIN-TITLES-TEXT-color-LIGHT);
    --MAIN-LINK-color: var(--MAIN-LINK-color-LIGHT);
    --MAIN-LINK-HOVER-color: var(--MAIN-LINK-HOVER-color-LIGHT);
    --MAIN-ANCHOR-color: var(--MAIN-ANCHOR-color-LIGHT);
    --H1-color: var(--H1-color-LIGHT);
    --TOP-BAR-color: var(--TOP-BAR-color-LIGHT);
    --TOP-BTN-BG-color: var(--TOP-BTN-BG-color-LIGHT);
    --TOP-BTN-color: var(--TOP-BTN-color-LIGHT);
    --MENU-SEARCH-BG-color:var(--MENU-SEARCH-BG-color-LIGHT);
    --MENU-VISITED-color: var(--MENU-VISITED-color-LIGHT);
    --MENU-SECTION-HR-color: var(--MENU-SECTION-HR-color-LIGHT);
    --BUTTON-BG-color: var(--BUTTON-BG-color-LIGHT);
    --BUTTON-BG-HOVER-color: var(--BUTTON-BG-HOVER-color-LIGHT);
    --BUTTON-BG-ACTIVE-color: var(--BUTTON-BG-ACTIVE-color-LIGHT);
    --TOC-BORDER-color: var(--TOC-BORDER-color-LIGHT);
    --TOC-INACTIVE-color: var(--TOC-INACTIVE-color-LIGHT);
    --TOC-NEXTPREV-color: var(--TOC-NEXTPREV-color-LIGHT);
    --IMG-SHADOW-color: var(--IMG-SHADOW-color-LIGHT);
    --MENU-TAG-BG-color: var(--MENU-TAG-BG-color-LIGHT);
    --CLIPBOARD-BG-HOVER-color: var(--CLIPBOARD-BG-HOVER-color-LIGHT);
    --RECENT-POSTS-BG-color: var(--RECENT-POSTS-BG-color-LIGHT);
    --ADMONITION-color: var(--ADMONITION-color-LIGHT);
    --ADMONITION-CAUTION-color: var(--ADMONITION-CAUTION-color-LIGHT);
    --ADMONITION-NOTE-color: var(--ADMONITION-NOTE-color-LIGHT);
    --ADMONITION-TIP-color: var(--ADMONITION-TIP-color-LIGHT);
    --ADMONITION-IMPORTANT-color: var(--ADMONITION-IMPORTANT-color-LIGHT);
    --ADMONITION-WARNING-color: var(--ADMONITION-WARNING-color-LIGHT);
    --TH-BG-color: var(--TH-BG-color-LIGHT);
}

body.dark-theme {
    --MAIN-TEXT-color: var(--MAIN-TEXT-color-DARK);
    --MAIN-BG-color: var(--MAIN-BG-color-DARK);
    --MAIN-TITLES-TEXT-color: var(--MAIN-TITLES-TEXT-color-DARK);
    --MAIN-LINK-color: var(--MAIN-LINK-color-DARK);
    --MAIN-LINK-HOVER-color: var(--MAIN-LINK-HOVER-color-DARK);
    --MAIN-ANCHOR-color: var(--MAIN-ANCHOR-color-DARK);
    --H1-color: var(--H1-color-DARK);
    --TOP-BAR-color: var(--TOP-BAR-color-DARK);
    --TOP-BTN-BG-color: var(--TOP-BTN-BG-color-DARK);
    --TOP-BTN-color: var(--TOP-BTN-color-DARK);
    --MENU-SEARCH-BG-color:var(--MENU-SEARCH-BG-color-DARK);
    --MENU-VISITED-color: var(--MENU-VISITED-color-DARK);
    --MENU-SECTION-HR-color: var(--MENU-SECTION-HR-color-DARK);
    --BUTTON-BG-color: var(--BUTTON-BG-color-DARK);
    --BUTTON-BG-HOVER-color: var(--BUTTON-BG-HOVER-color-DARK);
    --BUTTON-BG-ACTIVE-color: var(--BUTTON-BG-ACTIVE-color-DARK);
    --TOC-BORDER-color: var(--TOC-BORDER-color-DARK);
    --TOC-INACTIVE-color: var(--TOC-INACTIVE-color-DARK);
    --TOC-NEXTPREV-color: var(--TOC-NEXTPREV-color-DARK);
    --IMG-SHADOW-color: var(--IMG-SHADOW-color-DARK);
    --MENU-TAG-BG-color: var(--MENU-TAG-BG-color-DARK);
    --CLIPBOARD-BG-HOVER-color: var(--CLIPBOARD-BG-HOVER-color-DARK);
    --RECENT-POSTS-BG-color: var(--RECENT-POSTS-BG-color-DARK);
    --ADMONITION-color: var(--ADMONITION-color-DARK);
    --ADMONITION-CAUTION-color: var(--ADMONITION-CAUTION-color-DARK);
    --ADMONITION-NOTE-color: var(--ADMONITION-NOTE-color-DARK);
    --ADMONITION-TIP-color: var(--ADMONITION-TIP-color-DARK);
    --ADMONITION-IMPORTANT-color: var(--ADMONITION-IMPORTANT-color-DARK);
    --ADMONITION-WARNING-color: var(--ADMONITION-WARNING-color-DARK);
    --TH-BG-color: var(--TH-BG-color-DARK);
}

/* dark theme if preferred, can be overwritten when button is pressed */
@media (prefers-color-scheme: dark) {

    body {
        --MAIN-TEXT-color: var(--MAIN-TEXT-color-DARK);
        --MAIN-BG-color: var(--MAIN-BG-color-DARK);
        --MAIN-TITLES-TEXT-color: var(--MAIN-TITLES-TEXT-color-DARK);
        --MAIN-LINK-color: var(--MAIN-LINK-color-DARK);
        --MAIN-LINK-HOVER-color: var(--MAIN-LINK-HOVER-color-DARK);
        --MAIN-ANCHOR-color: var(--MAIN-ANCHOR-color-DARK);
        --H1-color: var(--H1-color-DARK);
        --TOP-BAR-color: var(--TOP-BAR-color-DARK);
        --TOP-BTN-BG-color: var(--TOP-BTN-BG-color-DARK);
        --TOP-BTN-color: var(--TOP-BTN-color-DARK);
        --MENU-SEARCH-BG-color:var(--MENU-SEARCH-BG-color-DARK);
        --MENU-VISITED-color: var(--MENU-VISITED-color-DARK);
        --MENU-SECTION-HR-color: var(--MENU-SECTION-HR-color-DARK);
        --BUTTON-BG-color: var(--BUTTON-BG-color-DARK);
        --BUTTON-BG-HOVER-color: var(--BUTTON-BG-HOVER-color-DARK);
        --BUTTON-BG-ACTIVE-color: var(--BUTTON-BG-ACTIVE-color-DARK);
        --TOC-BORDER-color: var(--TOC-BORDER-color-DARK);
        --TOC-INACTIVE-color: var(--TOC-INACTIVE-color-DARK);
        --TOC-NEXTPREV-color: var(--TOC-NEXTPREV-color-DARK);
        --IMG-SHADOW-color: var(--IMG-SHADOW-color-DARK);
        --MENU-TAG-BG-color: var(--MENU-TAG-BG-color-DARK);
        --CLIPBOARD-BG-HOVER-color: var(--CLIPBOARD-BG-HOVER-color-DARK);
        --RECENT-POSTS-BG-color: var(--RECENT-POSTS-BG-color-DARK);
        --ADMONITION-color: var(--ADMONITION-color-DARK);
        --ADMONITION-CAUTION-color: var(--ADMONITION-CAUTION-color-DARK);
        --ADMONITION-NOTE-color: var(--ADMONITION-NOTE-color-DARK);
        --ADMONITION-TIP-color: var(--ADMONITION-TIP-color-DARK);
        --ADMONITION-IMPORTANT-color: var(--ADMONITION-IMPORTANT-color-DARK);
        --ADMONITION-WARNING-color: var(--ADMONITION-WARNING-color-DARK);
        --TH-BG-color: var(--TH-BG-color-DARK);
    }

    body.light-theme {
        --MAIN-TEXT-color: var(--MAIN-TEXT-color-LIGHT);
        --MAIN-BG-color: var(--MAIN-BG-color-LIGHT);
        --MAIN-TITLES-TEXT-color: var(--MAIN-TITLES-TEXT-color-LIGHT);
        --MAIN-LINK-color: var(--MAIN-LINK-color-LIGHT);
        --MAIN-LINK-HOVER-color: var(--MAIN-LINK-HOVER-color-LIGHT);
        --MAIN-ANCHOR-color: var(--MAIN-ANCHOR-color-LIGHT);
        --H1-color: var(--H1-color-LIGHT);
        --TOP-BAR-color: var(--TOP-BAR-color-LIGHT);
        --TOP-BTN-BG-color: var(--TOP-BTN-BG-color-LIGHT);
        --TOP-BTN-color: var(--TOP-BTN-color-LIGHT);
        --MENU-SEARCH-BG-color:var(--MENU-SEARCH-BG-color-LIGHT);
        --MENU-VISITED-color: var(--MENU-VISITED-color-LIGHT);
        --MENU-SECTION-HR-color: var(--MENU-SECTION-HR-color-LIGHT);
        --BUTTON-BG-color: var(--BUTTON-BG-color-LIGHT);
        --BUTTON-BG-HOVER-color: var(--BUTTON-BG-HOVER-color-LIGHT);
        --BUTTON-BG-ACTIVE-color: var(--BUTTON-BG-ACTIVE-color-LIGHT);
        --TOC-BORDER-color: var(--TOC-BORDER-color-LIGHT);
        --TOC-INACTIVE-color: var(--TOC-INACTIVE-color-LIGHT);
        --TOC-NEXTPREV-color: var(--TOC-NEXTPREV-color-LIGHT);
        --IMG-SHADOW-color: var(--IMG-SHADOW-color-LIGHT);
        --MENU-TAG-BG-color: var(--MENU-TAG-BG-color-LIGHT);
        --CLIPBOARD-BG-HOVER-color: var(--CLIPBOARD-BG-HOVER-color-LIGHT);
        --RECENT-POSTS-BG-color: var(--RECENT-POSTS-BG-color-LIGHT);
        --ADMONITION-color: var(--ADMONITION-color-LIGHT);
        --ADMONITION-CAUTION-color: var(--ADMONITION-CAUTION-color-LIGHT);
        --ADMONITION-NOTE-color: var(--ADMONITION-NOTE-color-LIGHT);
        --ADMONITION-TIP-color: var(--ADMONITION-TIP-color-LIGHT);
        --ADMONITION-IMPORTANT-color: var(--ADMONITION-IMPORTANT-color-LIGHT);
        --ADMONITION-WARNING-color: var(--ADMONITION-WARNING-color-LIGHT);
        --TH-BG-color: var(--TH-BG-color-LIGHT);
    }
}

*, *::before, *::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  
  @-webkit-viewport {
    width: device-width; }
  @-moz-viewport {
    width: device-width; }
  @-ms-viewport {
    width: device-width; }
  @-o-viewport {
    width: device-width; }
  @viewport {
    width: device-width; }
  html {
    font-size: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%; }

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }

@keyframes blink-caret {
    50% {
        opacity: 0
    }
}

.author-icon-linkedin {
    fill: #2877b5 !important;
}

.author-icon-linkedin:hover {
    fill: #fff !important;
}

.author-icon-github {
    fill: var(--MENU-HOME-LINK-color) !important;
    color: var(--MENU-HOME-LINK-color) !important;
}

.author-icon-github:hover {
    fill: #000 !important;
    color: #000 !important;
}

.author-icon-homepage {
    fill: var(--MENU-HOME-LINK-color) !important;
    color: var(--MENU-HOME-LINK-color) !important;
}

.author-icon-homepage:hover {
    fill: var(--MAIN-LINK-color-LIGHT) !important;
    color: var(--MAIN-LINK-color-LIGHT) !important;
}

.overflow-hidden {
    overflow: hidden;
}
.whitespace-nowrap {
    white-space: nowrap;
}
.animate-typewriter {
    /* font-family: monospace; */
    text-transform: uppercase;
    font-size: 12px;
    color: var(--MENU-SECTIONS-LINK-color);
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: typing 2s steps(30);
}
.animate-blink {
    color: #a3d0f5;
    animation: blink-caret .75s steps(17) infinite;
}
.inline-flex {
    display: inline-flex;
}

.-translate-y-2, .skew-x-6 {
    transform: translate(0, 0) rotate(0) skewX(0) skewY(0) scaleX(1) scaleY(1);
}

.-translate-y-2 {
    --tw-translate-y: -0.5rem;
}

.resp-sharing-button__link,
.resp-sharing-button__icon {
  display: inline-block
}

.resp-sharing-button__link {
  text-decoration: none;
  color: #fff;
  margin: 0.5em
}

.resp-sharing-button {
  transition: 25ms ease-out;
  padding: 0.2em 0.35em;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  margin-right: 5px;
}

.resp-sharing-button__icon svg {
  width: 1em;
  height: 1em;
  margin-right: 0.4em;
  vertical-align: top
}

.resp-sharing-button--small svg {
  margin: 0;
  vertical-align: middle
}

/* Non solid icons get a stroke */
.resp-sharing-button__icon {
  stroke: #fff;
  fill: none
}

/* Solid icons get a fill */
.resp-sharing-button__icon--solid,
.resp-sharing-button__icon--solidcircle {
  fill: #fff;
  stroke: none
}

.resp-sharing-button--twitter {
  background-color: #55acee
}

.resp-sharing-button--twitter:hover {
  background-color: #2795e9
}

.resp-sharing-button--pinterest {
  background-color: #bd081c
}

.resp-sharing-button--pinterest:hover {
  background-color: #8c0615
}

.resp-sharing-button--facebook {
  background-color: #3b5998
}

.resp-sharing-button--facebook:hover {
  background-color: #2d4373
}

.resp-sharing-button--tumblr {
  background-color: #35465C
}

.resp-sharing-button--tumblr:hover {
  background-color: #222d3c
}

.resp-sharing-button--reddit {
  background-color: #5f99cf
}

.resp-sharing-button--reddit:hover {
  background-color: #3a80c1
}

.resp-sharing-button--google {
  background-color: #dd4b39
}

.resp-sharing-button--google:hover {
  background-color: #c23321
}

.resp-sharing-button--linkedin {
  background-color: #0077b5
}

.resp-sharing-button--linkedin:hover {
  background-color: #046293
}

.resp-sharing-button--email {
  background-color: #777
}

.resp-sharing-button--email:hover {
  background-color: #5e5e5e
}

.resp-sharing-button--rss {
    background-color: #777
  }
  
  .resp-sharing-button--rss:hover {
    background-color: #5e5e5e
  }

.resp-sharing-button--xing {
  background-color: #1a7576
}

.resp-sharing-button--xing:hover {
  background-color: #114c4c
}

.resp-sharing-button--whatsapp {
  background-color: #25D366
}

.resp-sharing-button--whatsapp:hover {
  background-color: #1da851
}

.resp-sharing-button--hackernews {
background-color: #FF6600
}
.resp-sharing-button--hackernews:hover, .resp-sharing-button--hackernews:focus {   background-color: #FB6200 }

.resp-sharing-button--vk {
  background-color: #507299
}

.resp-sharing-button--vk:hover {
  background-color: #43648c
}

.resp-sharing-button--facebook {
  background-color: #3b5998;
  border-color: #3b5998;
}

.resp-sharing-button--facebook:hover,
.resp-sharing-button--facebook:active {
  background-color: #2d4373;
  border-color: #2d4373;
}

.resp-sharing-button--twitter {
  background-color: #55acee;
  border-color: #55acee;
}

.resp-sharing-button--twitter:hover,
.resp-sharing-button--twitter:active {
  background-color: #2795e9;
  border-color: #2795e9;
}

.resp-sharing-button--twitter {
    background-color: #000
  }

  .resp-sharing-button--twitter:hover {
    background-color: #5e5e5e
  }
.resp-sharing-button--x {
    background-color: #000;
    border-color: #000;
  }

  .resp-sharing-button--x:hover,
  .resp-sharing-button--x:active {
    background-color: #5e5e5e;
    border-color: #5e5e5e;
  }
.resp-sharing-button--email {
  background-color: #777777;
  border-color: #777777;
}

.resp-sharing-button--email:hover,
.resp-sharing-button--email:active {
  background-color: #5e5e5e;
  border-color: #5e5e5e;
}

.resp-sharing-button--linkedin {
  background-color: #0077b5;
  border-color: #0077b5;
}

.resp-sharing-button--linkedin:hover,
.resp-sharing-button--linkedin:active {
  background-color: #046293;
  border-color: #046293;
}

.resp-sharing-button--reddit {
  background-color: #5f99cf;
  border-color: #5f99cf;
}

.resp-sharing-button--reddit:hover,
.resp-sharing-button--reddit:active {
  background-color: #3a80c1;
  border-color: #3a80c1;
}

.resp-sharing-button--whatsapp {
  background-color: #25D366;
  border-color: #25D366;
}

.resp-sharing-button--whatsapp:hover,
.resp-sharing-button--whatsapp:active {
  background-color: #1DA851;
  border-color: #1DA851;
}

.social {
  float: right;
  /* margin-top: 0.25em; */
}

p.faa-float.animated {
  margin-right: 1rem;
}

.featured-img {
  box-shadow: none;
}

summary {
    text-decoration: underline;
}

.tag-letter {
    font-size: 16px;
    font-weight: 400;
    display: inline-block;
    width: 100%;
    border-bottom: 1.25pt solid #fff;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.badge-tag-list-page, a.badge-tag-list-page {
    min-width: 200px;
    margin-bottom: 5px;
    margin-right: 5px;
}

/*selection color*/
.hljs::selection {
  background: #000000;
}

.hljs::-moz-selection,
.hljs span::-moz-selection {
  background: #373b41;
}

/* Tags */

#head-tags{
    margin-left:1em;
    margin-top:1em;
}

#body .tags a.tag-link {
    display: inline-block;
    line-height: 2em;
    font-size: 0.8em;
    position: relative;
    margin: 0 10px 8px 0;
    padding: 0 8px 0 8px;
    background: var(--MENU-TAG-BG-color);

    -webkit-border-bottom-right-radius: 3px;
    border-bottom-right-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    border-top-right-radius: 3px;

    -webkit-border-bottom-left-radius: 3px;
    border-bottom-left-radius: 3px;
    -webkit-border-top-left-radius: 3px;
    border-top-left-radius: 3px;

    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    color: #fff;
}

#body .tags a.tag-link:before {
    border-right-color: var(--MENU-TAG-BG-color);
}

/* END  Tags */

span.divider {
    width: .5rem; 
    display: inline-block;
}

.category-link:before {
    border-radius: 100%;
    display: inline-block;
    content: "";
    transition: .3s ease;
    border: 1px solid black;
    height: 6px;
    margin-right: 5px;
    margin-bottom: 1px;
    width: 6px;
}

.category-link:hover:before {
    background-color: black;
}

#head-catagories{
    margin-left:1em;
    margin-top:1em;
}

#body .catagories a.openshift {
    background-color: var(--CATEGORY-openshift) !important;
    color: var(--CATEGORY-font-black) !important;
}

#body .catagories a.compliance {
    background-color: var(--CATEGORY-compliance) !important;
}

#body .catagories a.mesh {
    background-color: var(--CATEGORY-mesh) !important;
}

#body .catagories a.security {
    background-color: var(--CATEGORY-security) !important;
    color: var(--CATEGORY-font-black) !important;
}

#body .catagories a.gitops {
    background-color: var(--CATEGORY-gitops) !important;
    color: var(--CATEGORY-font-black) !important;
}

#body .catagories a.ansible {
    background-color: var(--CATEGORY-ansible) !important;
    color: var(--CATEGORY-font-black) !important;
}

#body .catagories a.other {
    background-color: var(--CATEGORY-other) !important;
    color: var(--CATEGORY-font-black) !important;
}

#body .catagories a.cicd {
    background-color: var(--CATEGORY-cicd) !important;
    color: var(--CATEGORY-font-black) !important;
}

#body .catagories a.acs {
    background-color: var(--CATEGORY-acs) !important;
    color: var(--CATEGORY-font-black) !important;
}

#body .catagories a.category-link {
    display: inline-block;
    line-height: 1.5em;
    font-size: 0.8em;
    position: relative;
    margin: 0 10px 8px 0;
    padding: 0 8px 0 8px;
    background: var(--MENU-TAG-BG-color);

    -webkit-border-bottom-right-radius: 3px;
    border-bottom-right-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    border-top-right-radius: 3px;

    -webkit-border-bottom-left-radius: 3px;
    border-bottom-left-radius: 3px;
    -webkit-border-top-left-radius: 3px;
    border-top-left-radius: 3px;

    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    color: #fff;
    border-radius: 9999px;
}

/* #body .catagories a.category-link:before {
    border-right-color: var(--MENU-TAG-BG-color);
} */

a.fancy {
    margin-right: 1rem;
}

th {
    background: var(--TH-BG-color);
    padding: 0.5rem;
}

html, body {
    scroll-padding-top: 100px;
}

.togglemode {
    text-align: center;
}

.shortcut-title {
    color: var(--SHORTCUT-TITLE-color) !important;
}

.sub-top-nav {
    background: #3b3b3b;
    min-height: 45px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.display-inline-table {
    display: inline-table !important;
}

.display-inline-grid {
    display: inline-grid !important;
}

.display-inline-block {
    display: inline-block;
}

.display-inline {
    display: inline !important;
}

.float-unset{
    float: unset !important;
} 

.text-align-center {
  text-align: center;
}

.text-align-left {
    text-align: left;
}

.vertical-align-middle {
    vertical-align: middle;
  }

.list-no-style {
    list-style-type: none;
}

.list-horizontal {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
    float   : left;
}

.list-horizontal:hover {
    background-color: var(--TH-BG-color-LIGHT);
    color: darken(var(--MENU-HOME-LINK-HOVERED-color), 10%);
}

.left {
    float: left;
}

.right {
    float: right;
}

.padding-left-15 {
    padding-left: 15px;
}

.padding-right-15 {
    padding-right: 15px;
}

.padding-right-25rem {
    padding-right: .25rem;
}

.padding-0 {
    padding: 0;
}

.margin-0 {
    margin: 0px;
}

.flex {
    display: flex;
}

.margin-bottom-15 {
    margin-bottom: 15px;
}

#pagination ul {
    display: inline;
}

#pagination li {
    display: inline;
    margin-left: 2px;
}

.pagination {
    padding-left: 0;
}

li.pagination__item--current > a {
    background-color: #9b9b9b !important;
    cursor: default !important;
    pointer-events: none;
}

#sidebar ul.topics li.parent ul, #sidebar ul.topics>li.active ul {
    display: block;
    position: relative;
}

#sidebar ul.topics li.parent ul li.parent ul, #sidebar ul.topics li.parent ul li.active ul, #sidebar ul.topics>li.active ul li.active ul {
    display: block;
    position: relative;
}

#sidebar ul.topics li.parent ul li ul, #sidebar ul.topics>li.active ul li ul {
    display: none;
    position: relative;
}

strong {
    background: var(--INLINE-CODE-BG-color);
    color: var(--INLINE-CODE-color);
    padding: 0px 3px 0px 3px;
}

time > strong {
    color: var(--MAIN-TEXT-color-DARK);
    background: transparent;
    padding-right: 1rem;
}

.readtime > strong {
    color: var(--MAIN-TEXT-color-DARK);
    background: transparent;
    padding-left: 1rem;
}

.author {
    padding-left: 1rem;
    padding-right: 1rem;
}

div.ulist > ul > li > p > strong {
    background: var(--INLINE-CODE-BG-color);
    color: var(--INLINE-CODE-color);
    padding: 0px 3px 0px 3px;
}

/*
li.parent ul::before {
    content: "";
    background: var(--MENU-SECTIONS-LINK-color);
    width: 1px;
    height: 100%;
    left: 0;
    display: block;
    position: absolute;
    z-index: 1;
}

li.parent ul::after {
    content: "";
    background: var(--MENU-SECTIONS-LINK-color);
    width: 0px;
    height: 100%;
    left: 0;
    display: block;
    position: absolute;
    z-index: 1;
} */

/* #sidebar ul li.active {
    content: "";
    top: 0;
    bottom: 0;
    left: 5px;
    border-color: #73bcf7 !important;
    border: 0 solid;
    border-width: 0 0 0 5px;
} */

#chapter p {
    /* text-align: left; */
    text-align: justify;
    font-size: 16px;
}

.articleinfo {
    font-size: small;
    font-style: italic;
}

.read-progress{
    border-top-width: 4px;
    border-top-style: solid;
    width: 0%;
    transition: width 100ms ease-in-out;
    z-index: 1001;
    position: fixed;
    color: var(--TH-BG-color);
}

code {
/*  background: var(--INLINE-CODE-BG-color); */
  font-style: italic;
  color: var(--INLINE-CODE-color);
}

.copy-to-clipboard {
    color: #5e5e5e;
    background-color: var(--INLINE-CODE-BG-color);
    display: none;
}

pre .copy-to-clipboard {
    background-color: var(--CLIPBOARD-BG-color);
    color: var(--CLIPBOARD-color);
    display: inline-block;
}

pre .copy-to-clipboard:hover {
    background-color: var(--CLIPBOARD-BG-HOVER-color);
    color: var(--CLIPBOARD-color);
    display: inline-block;
}

.nav-prev {
    min-width: 24px;
    padding-left: 1.7rem;
    color: var(--TOC-NEXTPREV-color);
    margin-right: 10px;
}

.nav-next {
    min-width: 24px;
    padding-left: 1.7rem;
    color: var(--TOC-NEXTPREV-color);
}

.big {
    font-size: larger;
}

.js .top-btn.sticky {
    visibility: visible;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    transform: rotate(360deg);
  }

.readmore-btn {
    transition-property: transform;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s;
    z-index: 10;
    --tw-text-opacity: 1;
    color: rgb(0 0 0 / var(--tw-text-opacity));
    border-color: transparent;
    background-color: white;
    position: relative;
    padding: .5rem;
    font-size: 14px !important;
    touch-action: manipulation !important;
}

.readme-a {
    line-height: unset !important;
    display: inline-block !important;
}

.hover\:translate-y-2:hover {
    --tw-translate-y: 0.5rem;
}

.hover\:translate-x-2:hover, .hover\:translate-y-2:hover {
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(0) skewX(0) skewY(0) scaleX(1) scaleY(1);
}

.hover\:translate-x-2:hover {
    --tw-translate-x: 0.5rem;
}

.transition-transform {
    transition-property: transform;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s;
}

.margin-right-5 {
    margin-right: 5rem;
}

.margin-bottom-2 {
    margin-bottom: 2rem;
}

.left-2 {
    left: .5rem;
}

.top-2 {
    top: .5rem;
}

.top-btn {
    overflow: hidden;
    visibility: hidden;
    display: block;
    position: fixed;
    bottom: 1rem;
    right: 10rem;
    width: 40px;
    height: 40px;
    float: right;
    z-index: 1000;
    border: none;
    outline: none;
    background-color: var(--TOP-BTN-BG-color);
    color: var(--TOP-BTN-color) !important;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    -ms-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-bottom: none;
    text-decoration: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
	-webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.27);
    -moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.27);
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.27);
    font-size: 18px;
}

.top-btn:hover,
.top-btn:focus {
  outline: none;
  text-decoration: none;
  background-color: var(--TOP-BTN-BG-color);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-bottom: none;
  -webkit-box-shadow: 0px 7px 16px 1px rgba(0,0,0,0.19);
  -moz-box-shadow: 0px 7px 16px 1px rgba(0,0,0,0.19);
  box-shadow: 0px 7px 16px 1px rgba(0,0,0,0.19);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.copyright {
  font-size: 12px;
  text-transform: uppercase;
  padding: 3rem 16rem 3rem 6rem;
}

#body .nav {
    top: 0;
    bottom: 0;
    width: 4rem;
    font-size: 50px;
    height: 100%;
    cursor: pointer;
    display: table;
    text-align: center;
}

#toc-field {
    position: fixed;
    top: 0px;
    z-index: 1000;
    max-width: 15rem;
    min-width: 15rem;
    right: 1px;
}

#TableOfContentsHeader {
    font-size: 13px !important;
    max-height: 85vh;
    overflow: auto;
    padding: 15px 5px 0px 5px !important;
    font-weight: bold;
}

#TableOfContents > ul {
    border-style: solid;
    border-width: 0 0 0 2px;
    border-color: var(--TOC-BORDER-color);
    margin-top: 0;
    margin-bottom: 0;
}

#TableOfContents > ul > li {
  list-style-type: none;
  margin-top: 0;
}

#TableOfContents > ul > li > a  {
    color: var(--TOC-INACTIVE-color);
}

#TableOfContents > ul, ol {
    padding-left: 1.7rem;
}

#TableOfContents > ul, ol > li > ul, ol {
}

/* TOC 2nd level fix */
#TableOfContents > ul ul, ul ol, ol ul, ol ol {
    padding-inline-start: 20px;
}

#TableOfContents > ul > li.active > a {
    color: var(--MAIN-LINK-color);
}

#TableOfContents > ul > li > a:hover {
    color: darken(var(--MAIN-LINK-HOVER-color), 10%);
}

#TableOfContents > ul > li > ul > li {
    list-style-type: none;
    margin-top: 0;
}

#TableOfContents > ul > li > a {
    font-weight: normal;
}

#TableOfContents > ul > li > ul > li > a {
    color: var(--TOC-INACTIVE-color);
}

#TableOfContents > ul > li > ul > li.active > a {
    color: var(--MAIN-LINK-color);
}

#TableOfContents > ul > li > ul > li > a:hover {
    color: darken(var(--MAIN-LINK-HOVER-color), 10%);
}

#TableOfContents li.active:before {
    content: "\2192";
    display: inline-block;
    margin-left: -20px;
    width: 20px;
    font-size: 1rem;
}

.gradient-header {
    font-style: normal;
    background-image: linear-gradient(to bottom right,var(--tw-gradient-stops));
    --tw-gradient-from: rgb(80 122 165 /1);
    --tw-gradient-to: rgb(var(--color-alpha)/0);
    --tw-gradient-stops: var(--tw-gradient-from),var(--tw-gradient-to);
    --tw-gradient-to: rgb(163 208 245 /1);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

h1.article {
    font-size: 3.75rem;
    font-family: sans-serif;
    font-weight: bolder;
}

.post-header {
    font-weight: bolder;
    line-height: 2;
}

#chapter h1 {
    border-bottom: 4px solid #4f7aa4;
}


#body .padding {
    padding: 3rem 16rem 3rem 6rem;
}

.hidden-toc {
    display: inline-block;
    text-indent: -999em;
}

.tracked {
  font-size: 14px;
  text-align: center;
}

.conum .hljs-string {
    display: inline-block;
    color: white !important;
    background-color: #385b7f;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    text-align: center;
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-family: "Open Sans", "Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
}

.conum[data-value] {
    margin-right: 5px;
    display: inline-block;
    color: white!important;
    background-color: #385b7f;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    text-align: center;
    font-size: .75em;
    width: 1.67em;
    height: 1.67em;
    line-height: 1.67em;
    font-family: "RedHatText","Open Sans","DejaVu Sans",sans-serif;
    font-style:normal;
    font-weight:bold;
}

.conum[data-value] * {
    color: white!important;
}

.conum[data-value]+b {
    display:none
}

.conum[data-value]::after {
    content:attr(data-value)
}

.archivetable-content {
    padding: 1rem 13rem 1rem 1rem;
}

.archivetable-date {
    padding: 1rem 1rem 1rem 1rem;
}

pre .conum[data-value] {
    position:relative;
    top:-.125em
}

b.conum * {
    color: inherit!important
}

.conum:not([data-value]):empty {
    display:none
}

.hljs-string, .hljs-regexp, .hljs-addition, .hljs-attribute, .hljs-meta-string {
    color: #98c379;
}

.btn-default {
  color: var(--BUTTON-color) !important;
  background-color: var(--BUTTON-BG-color) !important;
  border: 0 !important;
}

.btn-default:hover {
  color: var(--BUTTON-color) !important;
  background-color: var(--TH-BG-color-LIGHT) !important;
  border-color: var(--BUTTON-BORDER-color) !important;
}

.btn-default:active,
.btn-default:focus {
  color: var(--BUTTON-color) !important;
  background-color: var(--TH-BG-color-LIGHT) !important;
  border-color: var(--BUTTON-BORDER-color) !important;
}

body {
    color: var(--MAIN-TEXT-color) !important;
    background: var(--MAIN-BG-color);
}

textarea:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, select[multiple=multiple]:focus {
    border-color: none;
    box-shadow: none;
}

h2, h3, h4, h5 {
    color: var(--MAIN-TITLES-TEXT-color) !important;
}

span.text {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
}

#logo {
  font-size: 48px;
  margin: 0 0 0 0;
  border-radius: 80px;
  line-height: 5px;
}

span.small {
  font-size: 11px;
  margin: 0;
}

p.logoarea {
  margin: 0 0 0 0;
}

a {
    color: var(--MAIN-LINK-color);
}

.anchor {
    color: var(--MAIN-ANCHOR-color);
}

.anchor:hover {
    color: darken(var(--MAIN-ANCHOR-color), 10%);
}

a:hover {
    color: darken(var(--MAIN-LINK-HOVER-color), 10%);
}

#top-bar {
    background: var(--TOP-BAR-color);
}

h1 {
    color: var(--H1-color);
}

h1.recentlist {
    text-align: left !important;
    text-transform: none;
}

h2.recentlist {
    text-align: left !important;
    margin-top: 1px;
}
.recentlist {
    color: var(--MAIN-TITLES-TEXT-color);
}
.dd-item a:hover {
    color: darken(var(--MAIN-LINK-HOVER-color), 10%);
    background: var(--MAIN-SECTION-LINK-HOVER-color-BG-color);
}

#sidebar ul li.visited > a .read-icon {
	color: var(--MENU-VISITED-color);
}

#body a.highlight:after {
    display: block;
    content: "";
    height: 1px;
    width: 0%;
    -webkit-transition: width 0.5s ease;
    -moz-transition: width 0.5s ease;
    -ms-transition: width 0.5s ease;
    transition: width 0.5s ease;
    background-color: var(--MAIN-LINK-HOVER-color);
}

#sidebar {
	background-color: var(--MENU-SECTIONS-BG-color);
}
#sidebar #header-wrapper {
    background: var(--MENU-HEADER-BG-color);
    color: var(--MENU-SEARCH-BOX-color);
    border-color: var(--MENU-HEADER-BORDER-color);
}
#sidebar .searchbox {
	border-color: var(--MENU-SEARCH-BOX-color);
    background: var(--MENU-SEARCH-BG-color);
}
#sidebar ul.topics > li.parent, #sidebar ul.topics > li.active {
    background: var(--MENU-SECTIONS-ACTIVE-BG-color);
}

#sidebar .searchbox * {
    color: var(--MENU-SEARCH-BOX-ICONS-color);
}

.to-beta {
    --tw-gradient-to: rgb(163 208 245 /1);
}

.from-alpha {
    --tw-gradient-from: rgb(80 122 165 /1);
}

.via-alpha {
    --tw-gradient-stops: var(--tw-gradient-from),rgb(80 122 165 /1),var(--tw-gradient-to);
}

.btn-gradient-background {
    background-image: linear-gradient(to right,var(--tw-gradient-stops));
}

mark {
    background-image: linear-gradient(to right, 
      color-mix(in srgb, rgba( 162, 207, 244, 1 ) 20%, transparent), 
      color-mix(in srgb, rgba( 162, 207, 244, 1 ) 90%, transparent) 4%, 
      color-mix(in srgb, rgba( 162, 207, 244, 1 ) 40%, transparent));
    border-radius: 0.8em 0.3rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    color: rgba(0, 0, 0, 1);
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
    padding-left: 3px;
    padding-right: 3px;
}

#sidebar a {
    color: var(--MENU-SECTIONS-LINK-color);
}

#sidebar a:hover {
    color: var(--MENU-SECTIONS-LINK-HOVER-color);
    margin-left: -1rem;
    margin-right: -1rem;
    padding-right: 1rem;
    border: 0 solid;
    border-left-width: 1px;
    border-color: var(--MENU-SECTIONS-LIST-BORDER-HOVER-color);
    padding-left: calc(1rem - 1px);
}

/* reset for shortcuts */
#sidebar #shortcuts a:hover {
    color: var(--MENU-SECTIONS-LINK-HOVER-color);
    padding: 0 1rem;
    margin: unset;
}
 /* reset for homelink */
#sidebar #homelinks a:hover {
    color: var(--MENU-SECTIONS-LINK-HOVER-color);
    padding: 0 1rem;
    margin: unset;
}

#sidebar ul li.active > a {
    background: var(--MENU-SECTION-ACTIVE-CATEGORY-BG-color);
    color: var(--MENU-SECTION-ACTIVE-CATEGORY-color) !important;
    border: 0 solid;
    border-left-width: 4px;
    border-color: var(--MENU-SECTIONS-LIST-BORDER-color);
    padding-left: calc(1rem - 4px);
}

/* #sidebar ul li.active > a::before {
    content: ">";
    top: 0;
    bottom: 0;
    left: 0;
    color: #73bcf7;

}

#sidebar ul li.active > a::after {
    content: "<";
    top: 0;
    bottom: 0;
    left: 0;
    color: #73bcf7;
} */

#sidebar hr {
    border-color: var(--MENU-SECTION-HR-color);
}

#homelinks {
  background: var(--MENU-HEADER-BG-color);
  background-color: var(--MENU-HEADER-BORDER-color);
  border-bottom-color: var(--MENU-HEADER-BORDER-color);
}

#homelinks a {
  color: var(--MENU-HOME-LINK-color);
  font-size: 1.1rem;
}

#homelinks a:hover {
  color: darken(var(--MENU-HOME-LINK-HOVERED-color), 10%);
  background: var(--TH-BG-color-LIGHT);
}

.summary-gradient {
    background-image: linear-gradient(to bottom right, rgb(59 59 59 / 1), rgb(59 59 59 / 1), rgb(11 11 11 /1)) !important;
}

.content {
    padding: 0 0.938rem 0 0.938rem;
}

div.avatar {
    margin: auto;
}

img.avatar {
    box-shadow: none !important;
    width: 35px !important;
    display: inline !important;
    vertical-align: middle;
    margin: 0 0 0 0 !important;
}

img.avatar-big {
    box-shadow: none !important;
    width: 200px !important;
    display: inline !important;
    vertical-align: middle;
    margin: 0 0 0 0 !important;
}

h1.authors {
    font-size: 2.5rem;
    line-height: 110% !important;
    margin: .5rem 0 1.5rem 0;
    font-weight: 400;
    font-family: RedHatText, "Work Sans", Helvetica, Tahoma, Geneva, Arial, sans-serif;
    text-rendering: optimizeLegibility;
    letter-spacing: -1px;
    color: var(--MAIN-TITLES-TEXT-color) !important;
    text-align: left;
    text-transform: none !important;
}

h1.bio {
    font-size: 2.0rem;
    line-height: 110% !important;
    margin: .75rem 0 0 0;
    font-weight: 200 !important;
    font-size: 2.5rem !important;
    font-family: RedHatText, "Work Sans", Helvetica, Tahoma, Geneva, Arial, sans-serif;
    text-rendering: optimizeLegibility;
    letter-spacing: -1px;
    color: var(--MAIN-TITLES-TEXT-color) !important;
    text-align: left;
    text-transform: none !important;
}

p.bio {
    margin: 0 0 0 0;
}

hr.author {
    border-bottom: 1px solid;
}

#body img, #body .video-container {
    margin: 1rem auto 0 auto;
    box-shadow: 0 10px 30px var(--IMG-SHADOW-color);
}

.container {
    display: grid; 
    grid-template-columns: 20% 80%; 
    gap: 0px 0px; 
  }
  .avatar { grid-area: 1 / 1 / 2 / 2; }
  .authorinfo { grid-area: 1 / 2 / 2 / 3; }

div.imageblock > div.title {
    font-style: italic;
    text-align: center;
    margin-top: 0;
    margin-bottom: 2rem;
}

.text-left {
    text-align:left!important;
}
.text-right {
    text-align:right!important;
}
.text-center {
    text-align:center!important
}
.text-justify {
    text-align:justify!important
}


/* support small fonts */
.small {
    font-size: smaller;
}

.quote {
    font-style: italic;
}

/* center text */
.center {
    text-align: center;
}


.listingblock>.content>.highlight {
    box-shadow:0 20px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
}

div > .admonitionblock {
    margin-top: 28px;
    margin-bottom: 28px;
  }

  .admonitionblock > table {
    border-collapse: separate;
    border: 0;
    background: none;
    width: 100%;
  }

  .admonitionblock > table td.icon [class^="fa icon-"] {
    font-size: 2.5em;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    cursor: default;
  }
  .admonitionblock > table td.icon {
    text-align: center;
    width: 80px;
    vertical-align: middle;
    border: 0;
  }
  .admonitionblock > table td.icon img {
    max-width: none;
  }

  .admonitionblock > table td.icon .icon-caution::before {
    content: "";
    color: var( --ADMONITION-CAUTION-color);
  }
  .admonitionblock > table td.icon .icon-note::before {
    content: "";
    color: var(--ADMONITION-NOTE-color);
  }
  .admonitionblock > table td.icon .icon-tip::before {
    content: "";
    text-shadow: 1px 1px 2px rgba(155, 155, 0, 0.8);
    color: var(--ADMONITION-TIP-color);
  }
  .admonitionblock > table td.icon .icon-important::before {
    content: "";
    color: var(--ADMONITION-IMPORTANT-color);
  }
  .admonitionblock > table td.icon .icon-warning::before {
    content: "";
    color: var(--ADMONITION-WARNING-color);
  }
  .admonitionblock > table td.icon .title {
    font-weight: bold;
    text-transform: uppercase;
    font-family: "FontAwesome";
  }
  .admonitionblock > table td.content {
    padding-left: 1.125em;
    padding-right: 1.25em;
    border-top: 0;
    border-bottom: 0;
    border-right: 0;
    border-left: 1px solid #ddddd8;
    color: var(--ADMONITION-color);
  }
  .admonitionblock > table td.content > :last-child > :last-child {
    margin-bottom: 0;
  }

div.colist {
    padding: 0 0 0 0.938rem;
}

div.colist > table {
    border: 0;
    width: unset;
}

div.colist > table > tbody > tr > td {
    border: 0;
}

#chapter h2 {
    text-align: center;
}

#sidebar #shortcuts h3 {
    font-size: 20px;
}

.btn-bottom-next {
    padding-right: 5px;
}

.btn-bottom-prev {
    padding-right: 5px;
}

.btn-bottom-text {
   padding-right: 0.3rem;
   text-transform: uppercase;
}

#navigation-bottom {
    padding: 0 6rem 0 6rem;
}


/* section recent posts ... from gohuo page */
.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.flex-wrap {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

@media screen and (min-width: 30em) {
    .flex-ns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    }
}


.justify-between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.mb3 {
    margin-bottom: 1rem;
}
.mr3 {
    margin-right: 1rem;
}
.bg-white {
    background-color: var(--RECENT-POSTS-BG-color);
}
.relative {
    position: relative;
}
.absolute {
    position: absolute;
}
@media screen and (min-width: 60em) {
    .w-40-l {
    width: 40%;
    }
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

.flex-auto {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: auto;
    min-width: 0;
    min-height: 0;
}

.b--moon-gray {
    border-color: #ccc;
}

/* boxes on summary page ... mainly creats box-shadow and does 3d effect when hover (transistion and transform) */
.ba {
/*    border-style: solid;
    border-width: 1px; */
    -webkit-box-shadow: 0px 2px 15px 10px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 2px 15px 10px rgba(0,0,0,0.15);
    box-shadow: 0px 2px 15px 10px rgba(0,0,0,0.15);

    transition: 0.25s ease box-shadow, 0.25s ease transform;
}
.ba:hover {
    box-shadow: 0px 5px 10px rgba(0,0,0,0.3);
    transform: scale(0.985);
}


@media screen and (min-width: 60em) {
.pa4-l {
    padding: 2rem;
}
/* .mb2 {
    margin-bottom: .5rem;
} */
.pa3 {
    padding: 1rem;
}
}


/* ==================================================
   Responsive Media Queries - Tablets
================================================== */
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
    #toc-field {
        display: none;
    }
    #body .padding {
        padding: 0 0 0;
    }
    .pa4-l {
        padding: 1em;
    }
    h2.recentlist {
        text-align: left !important;
        margin-top: 1px;
        font-size: 20px;
    }
    #navigation-bottom {
        padding: 0 0 0 1rem;
    }

    .copyright {
        font-size: 12px;
        text-transform: uppercase;
        padding: 0 0 3rem 1rem;
    }
    #body-inner {
        margin-bottom: 0;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    h1 {
        font-size: 2em;
        color: var(--H1-color);
    }
    h2 {
        font-size: 1.5rem;
        line-height: 110% !important;
        margin: 2.5rem 0 1.5rem 0;
    }

    h3 {
        font-size: 1.3rem;
        line-height: 110% !important;
        margin: 2rem 0 1rem 0;
    }

}
/* ==================================================
   Responsive Media Queries - Tablets landscape
================================================== */
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
    #toc-field {
        display: none;
    }
    #body .padding {
        padding: 0 0 0;
    }
    .pa4-l {
        padding: 1em;
    }
    h2.recentlist {
        text-align: left !important;
        margin-top: 1px;
        font-size: 20px;
    }
    #navigation-bottom {
        padding: 0 0 0 1rem;
    }

    .copyright {
        font-size: 12px;
        text-transform: uppercase;
        padding: 0 0 3rem 1rem;
    }
    #body-inner {
        margin-bottom: 0;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    h1 {
        font-size: 2em;
        color: var(--H1-color);
    }
    h2 {
        font-size: 1.5rem;
        line-height: 110% !important;
        margin: 2.5rem 0 1.5rem 0;
    }

    h3 {
        font-size: 1.3rem;
        line-height: 110% !important;
        margin: 2rem 0 1rem 0;
    }
}

/* ==================================================
   Responsive Media Queries - Mobiles
================================================== */

@media only screen and (max-device-width: 480px) and (orientation:portrait) {
    .animate-typewriter {
        font-size: 10px;
    }
    #toc-field {
        display: none;
    }

    .social {
      float: right;
      margin-top: 0px;
    }
    #body .padding {
        padding: 0 0 0;
    }
    .pa4-l {
        padding: 1em;
    }
    h2.recentlist {
        text-align: left !important;
        margin-top: 1px;
        font-size: 20px;
    }
    #navigation-bottom {
        padding: 0 0 0 1rem;
    }

    .copyright {
        font-size: 12px;
        text-transform: uppercase;
        padding: 0 0 3rem 1rem;
    }
    #body-inner {
        margin-bottom: 0;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    h1 {
        font-size: 2em;
        color: var(--H1-color);
    }

    h1.article {
        font-size: 2rem;
    }
    h2 {
        font-size: 1.5rem;
        line-height: 110% !important;
        margin: 2.5rem 0 1.5rem 0;
    }

    h3 {
        font-size: 1.3rem;
        line-height: 110% !important;
        margin: 2rem 0 1rem 0;
    }

    .nav-next {
        min-width: 24px;
        max-width: 154px;
        overflow: hidden;
        padding-left: 1.7rem;
        color: var(--TOC-NEXTPREV-color);
        text-overflow: ellipsis;
    }

    .nav-prev {
        min-width: 24px;
        max-width: 154px;
        overflow: hidden;
        padding-left: 1.7rem;
        color: var(--TOC-NEXTPREV-color);
        text-overflow: ellipsis;
    }

    time > strong {
        color: var(--MAIN-TEXT-color-DARK);
        background: transparent;
        padding-right: 0;
    }
    
    .readtime > strong {
        color: var(--MAIN-TEXT-color-DARK);
        background: transparent;
        padding-left: 0;
    }
    
    .author {
        padding-left: 0;
        padding-right: 0;
    }
}

/* ==================================================
   Responsive Media Queries - Mobiles - Landscape
================================================== */

@media only all and (max-width: 47.938em) {
    #sidebar {
        width: 230px;
        left: -230px;
    }
    #body {
        margin-left: 0;
        width: 100%;
    }
    .sidebar-hidden {
        overflow: hidden;
    }
    .sidebar-hidden #sidebar {
        left: 0;
    }
    .sidebar-hidden #body {
        margin-left: 230px;
        overflow: hidden;
    }
    .sidebar-hidden #overlay {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 10;
        background: rgba(255, 255, 255, 0.5);
        cursor: pointer;
    }

    .topbar-hidden {
        overflow: hidden;
    }
    .topbar-hidden #topbar {
        left: 0;
    }
    .topbar-hidden #body {
        margin-top: 230px;
        overflow: hidden;
    }
    .topbar-hidden #overlay {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 10;
        background: rgba(255, 255, 255, 0.5);
        cursor: pointer;
    }    
}

@media only screen and (max-device-width: 480px) and (orientation:landscape) {
    #toc-field {
        display: none;
    }
    #body .padding {
        padding: 0 0 0;
    }
    .pa4-l {
        padding: 1em;
    }
    h2.recentlist {
        text-align: left !important;
        margin-top: 1px;
        font-size: 20px;
    }
    #navigation-bottom {
        padding: 0 0 0 1rem;
    }

    .copyright {
        font-size: 12px;
        text-transform: uppercase;
        padding: 0 0 3rem 1rem;
    }
    #body-inner {
        margin-bottom: 0;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    h1 {
        font-size: 2em;
        color: var(--H1-color);
    }
    h2 {
        font-size: 1.5rem;
        line-height: 110% !important;
        margin: 2.5rem 0 1.5rem 0;
    }

    h3 {
        font-size: 1.3rem;
        line-height: 110% !important;
        margin: 2rem 0 1rem 0;
    }

    time > strong {
        color: var(--MAIN-TEXT-color-DARK);
        background: transparent;
        padding-right: 0;
    }
    
    .readtime > strong {
        color: var(--MAIN-TEXT-color-DARK);
        background: transparent;
        padding-left: 0;
    }
    
    .author {
        padding-left: 0;
        padding-right: 0;
}
