/**
 * Responsive Media Queries
 * All breakpoints and device-specific styles
 */

/* ========================================
   DESKTOP & LARGE SCREENS
======================================== */
@media only all and (min-width: 48em) and (max-width: 59.938em) {
    body #chapter h1 {
        font-size: 3rem;
    }
}

@media screen and (min-width: 30em) {
    .flex-ns {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
}

@media screen and (min-width: 160em) {
    .w-40-l {
        width: 45%;
    }

    .pa4-l {
        padding: 2rem;
    }

    .post-header {
        line-height: 1;
    }
}

/* ========================================
   MEDIUM SCREENS (59.938em and below)
======================================== */
@media only all and (max-width: 59.938em) {
    #body .padding {
        position: static;
        padding: 15px 3rem;
    }

    #body #navigation {
        position: static;
        margin-right: 0 !important;
        width: 100%;
        display: table;
    }

    #body .nav {
        display: table-cell;
        position: static;
        top: auto;
        width: 50%;
        text-align: center;
        height: 100px;
        line-height: 100px;
        padding-top: 0;
    }

    #body .nav > i {
        display: inline-block;
    }

    #sidebar {
        width: 230px;
    }

    #body {
        margin-left: 230px;
    }
}

/* ========================================
   SMALL SCREENS (47.938em and below)
======================================== */
@media only all and (max-width: 47.938em) {
    body #chapter h1 {
        font-size: 2rem;
    }

    #body .padding {
        padding: 5px 1rem;
    }

    .two-column-bullet,
    .three-column-bullet,
    .four-column-bullet {
        width: 100%;
    }

    /* Sidebar mobile adjustments */
    #sidebar {
        width: 230px;
        left: -230px;
    }

    #body {
        margin-left: 0;
        width: 100%;
    }

    #sidebar.collapsed {
        left: -230px;
    }

    #body.sidebar-collapsed {
        margin-left: 0;
    }

    #sidebar.collapsed .sidebar-toggle-btn {
        left: 0;
        width: 35px;
        height: 35px;
    }

    #sidebar-toggle-span {
        display: inline;
    }

    #breadcrumbs .links, 
    #top-github-link-text {
        display: none;
    }

    .sidebar-hidden {
        overflow: hidden;
    }

    .sidebar-hidden #sidebar {
        left: 0;
    }

    .sidebar-hidden #body {
        margin-left: 230px;
        overflow: hidden;
    }

    .topbar-hidden {
        overflow: hidden;
    }

    .topbar-hidden #topbar {
        left: 0;
    }

    .topbar-hidden #body {
        margin-top: 230px;
        overflow: hidden;
    }

    .flex {
        display: block;
    }
}

/* ========================================
   TABLETS - PORTRAIT (481px - 1024px)
======================================== */
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
    #toc-field {
        display: none;
    }

    #body .padding {
        padding: 0 0 0;
    }

    .pa4-l {
        padding: 1em;
    }

    h2.recentlist {
        text-align: left !important;
        margin-top: 1px;
        font-size: 20px;
    }

    #navigation-bottom {
        padding: 0 0 0 1rem;
    }

    .copyright {
        font-size: 12px;
        text-transform: uppercase;
        padding: 0 0 3rem 1rem;
    }

    #body-inner {
        margin-bottom: 0;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    h1 {
        font-size: 2em;
        color: var(--H1-color);
    }

    h2 {
        font-size: 1.5rem;
        line-height: 110% !important;
        margin: 2.5rem 0 1.5rem 0;
    }

    h3 {
        font-size: 1.3rem;
        line-height: 110% !important;
        margin: 2rem 0 1rem 0;
    }

    .flex {
        display: block;
    }
}

/* ========================================
   TABLETS - LANDSCAPE (481px - 1024px)
======================================== */
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
    #toc-field {
        display: none;
    }

    #body .padding {
        padding: 0 0 0;
    }

    .post-header {
        line-height: 1;
    }

    .pa4-l {
        padding: 0.5em;
    }

    h2.recentlist {
        text-align: left !important;
        margin-top: 1px;
        font-size: 20px;
    }

    #navigation-bottom {
        padding: 0 0 0 1rem;
    }

    .copyright {
        font-size: 12px;
        text-transform: uppercase;
        padding: 0 0 3rem 1rem;
    }

    #body-inner {
        margin-bottom: 0;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    h1 {
        font-size: 2em;
        color: var(--H1-color);
    }

    h2 {
        font-size: 1.5rem;
        line-height: 110% !important;
        margin: 2.5rem 0 1.5rem 0;
    }

    h3 {
        font-size: 1.3rem;
        line-height: 110% !important;
        margin: 2rem 0 1rem 0;
    }

    .flex {
        display: block;
    }
}

/* ========================================
   MOBILE - PORTRAIT (max 480px)
======================================== */
@media only screen and (max-device-width: 480px) and (orientation:portrait) {
    .animate-typewriter {
        font-size: 10px;
    }

    .sidebar-toggle-btn {
        display: none;
    }

    #toc-field {
        display: none;
    }

    /*.catagories {
        display: none;
    }*/

    .post-header {
        line-height: 1;
    }

    .social {
        float: right;
        margin-top: 0px;
    }

    #body .padding {
        padding: 0 0 0;
    }

    .pa4-l {
        padding: 0.5em;
    }

    h2.recentlist {
        text-align: left !important;
        margin-top: 1px;
        font-size: 20px;
    }

    #navigation-bottom {
        padding: 0 0 0 1rem;
    }

    .copyright {
        font-size: 12px;
        text-transform: uppercase;
        padding: 0 0 3rem 1rem;
    }

    #body-inner {
        margin-bottom: 0;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    h1 {
        font-size: 2em;
        color: var(--H1-color);
    }

    h1.article {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
        line-height: 110% !important;
        margin: 2.5rem 0 1.5rem 0;
    }

    h3 {
        font-size: 1.3rem;
        line-height: 110% !important;
        margin: 2rem 0 1rem 0;
    }

    .nav-next {
        min-width: 24px;
        max-width: 154px;
        overflow: hidden;
        padding-left: 1.7rem;
        color: var(--TOC-NEXTPREV-color);
        text-overflow: ellipsis;
    }

    .nav-prev {
        min-width: 24px;
        max-width: 154px;
        overflow: hidden;
        padding-left: 1.7rem;
        color: var(--TOC-NEXTPREV-color);
        text-overflow: ellipsis;
    }

    time > strong {
        color: var(--MAIN-TEXT-color-DARK);
        background: transparent;
        padding-right: 0;
    }

    .readtime {
        padding: 0.2rem 0.5rem;
        margin-left: 0;
        margin-top: 0.5rem;
    }
    
    .readtime > strong {
        color: var(--MAIN-TEXT-color-DARK);
        background: transparent;
    }

    .author {
        padding-left: 0;
        padding-right: 0;
    }

    .flex {
        display: block;
    }
}

/* ========================================
   MOBILE - LANDSCAPE (max 480px)
======================================== */
@media only screen and (max-device-width: 480px) and (orientation:landscape) {
    #toc-field {
        display: none;
    }

    .sidebar-toggle-btn {
        display: none;
    }

    #body .padding {
        padding: 0 0 0;
    }

    .pa4-l {
        padding: 0.5em;
    }

    h2.recentlist {
        text-align: left !important;
        margin-top: 1px;
        font-size: 20px;
    }

    #navigation-bottom {
        padding: 0 0 0 1rem;
    }

    .copyright {
        font-size: 12px;
        text-transform: uppercase;
        padding: 0 0 3rem 1rem;
    }

    #body-inner {
        margin-bottom: 0;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    h1 {
        font-size: 2em;
        color: var(--H1-color);
    }

    h2 {
        font-size: 1.5rem;
        line-height: 110% !important;
        margin: 2.5rem 0 1.5rem 0;
    }

    h3 {
        font-size: 1.3rem;
        line-height: 110% !important;
        margin: 2rem 0 1rem 0;
    }

    time > strong {
        color: var(--MAIN-TEXT-color-DARK);
        background: transparent;
        padding-right: 0;
    }

    .readtime {
        padding: 0.15rem 0.4rem;
        margin-left: 0;
    }
    
    .readtime > strong {
        color: var(--MAIN-TEXT-color-DARK);
        background: transparent;
    }

    .author {
        padding-left: 0;
        padding-right: 0;
    }

    .flex {
        display: block;
    }
}

