/**
 * Utility Classes
 * Helper classes for common styling needs
 */

/* ========================================
   DISPLAY UTILITIES
======================================== */
.display-inline-table {
    display: inline-table !important;
}

.display-inline-grid {
    display: inline-grid !important;
}

.display-inline-block {
    display: inline-block;
}

.display-block {
    display: block;
}

.display-inline {
    display: inline !important;
}

.inline-flex {
    display: inline-flex;
}

.hide {
    display: none;
}

/* ========================================
   FLOAT UTILITIES
======================================== */
.left {
    float: left;
}

.right {
    float: right;
}

.float-unset {
    float: unset !important;
}

/* ========================================
   TEXT ALIGNMENT
======================================== */
.text-left {
    text-align:left!important;
}

.text-right {
    text-align:right!important;
}

.text-center {
    text-align:center!important
}

.text-justify {
    text-align:justify!important
}

.text-align-center {
    text-align: center;
}

.text-align-left {
    text-align: left;
}

.vertical-align-middle {
    vertical-align: middle;
}

.center {
    text-align: center;
}

/* ========================================
   MARGIN UTILITIES
======================================== */
.margin-0 {
    margin: 0px;
}

.margin-bottom-15 {
    margin-bottom: 15px;
}

.margin-bottom-2 {
    margin-bottom: 2rem;
}

.margin-right-5 {
    margin-right: 5rem;
}

.mb3 {
    margin-bottom: 1rem;
}

.mr3 {
    margin-right: 1rem;
}

/* ========================================
   PADDING UTILITIES
======================================== */
.padding-0 {
    padding: 0;
}

.padding-left-15 {
    padding-left: 15px;
}

.padding-right-15 {
    padding-right: 15px;
}

.padding-right-25rem {
    padding-right: .25rem;
}

.padding-left-25rem {
    padding-left: .25rem;
}

.pa3 {
    padding: 1rem;
}

/* ========================================
   POSITIONING UTILITIES
======================================== */
.left-2 {
    left: .5rem;
}

.top-2 {
    top: .5rem;
}

/* ========================================
   WIDTH UTILITIES
======================================== */
/* Note: .w-40-l is defined in responsive.css with proper media query */

/* ========================================
   LIST UTILITIES
======================================== */
.list-no-style {
    list-style-type: none;
}

.list-horizontal {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
    float: left;
}

.list-horizontal:hover {
    background-color: var(--TH-BG-color-DARK);
    color: darken(var(--MENU-HOME-LINK-HOVERED-color), 10%);
}

/* ========================================
   BORDER UTILITIES
======================================== */
.b--moon-gray {
    border-color: var(--BUTTON-BORDER-color);
}

/* ========================================
   BACKGROUND UTILITIES
======================================== */
.bg-white {
    background-color: var(--RECENT-POSTS-BG-color);
}

/* ========================================
   MISC UTILITIES
======================================== */
.big {
    font-size: larger;
}

.submenu-div {
    z-index: 2;
    min-width: 160px;
    display: none;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
    background: var(--MAIN-BG-color-DARK);
}

.submenu-link {
    width: 100%;
    padding: 4px 16px;
    text-align: left;
    float: none;
    outline: 0;
    border: none;
    font-size: unset;
    font-family: sans-serif;
}

.submenu:hover .submenu-div {
    display: block;
}

.submenu-style {
    background-color: var(--MAIN-BG-color-DARK);
}

.togglemode {
    text-align: center;
}

/* ========================================
   RELATED CONTENT
======================================== */
li.related {
    padding-bottom: 1rem;
}

hr.related {
    margin: 5rem 0 2rem 0;
}

hr.author {
    border-bottom: 1px solid;
}

/* ========================================
   FLEXBOX UTILITIES (Additional)
======================================== */
.flex-ns {
    display: flex;
}

/* ========================================
   LEGACY UTILITIES FROM theme.css
   (Required for featherlight lightbox and code highlighting)
======================================== */
.highlightable {
    padding: 1rem 0;
    overflow: auto;
    position: relative;
}

.lightbox-active #body {
    overflow: visible;
}

.lightbox-active #body .padding {
    overflow: visible;
}

.featherlight img {
    margin: 0 !important;
}

.parent-element {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

/* ========================================
   MERMAID DIAGRAM UTILITIES
======================================== */
.mermaid-code {
    display: none; /* Hidden storage of raw mermaid code for theme updates */
}

.mermaid-container {
    position: relative;
    /* display: inline-block; */
    margin: 1rem 0;
}

.mermaid-container.zoomable {
    cursor: grab;
}

.mermaid-container.zoomable:active {
    cursor: grabbing;
}

.actionbar {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    z-index: 100;
}

.svg-reset-button button {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    border: none;
    padding: 0.5rem;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
}

.svg-reset-button button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.svg-reset-button.zoomed button {
    background-color: rgba(0, 100, 200, 0.8);
}

/* ========================================
   PRINT STYLES
======================================== */
@media print {
    .top-btn,
    .menu,
    .skip-link {
        display: none !important;
    }
    
    body {
        color: var(--BLACK) !important;
        background: var(--WHITE) !important;
    }
}

